<mat-error *ngIf="campo?.notIncludedIn">{{getErrorMessage('notIncludedIn')}}</mat-error>
<mat-error *ngIf="campo?.validateNumDoc">{{getErrorMessage('validateNumDoc')}}</mat-error>
<mat-error *ngIf="campo?.validateCode">{{getErrorMessage('validateCode')}}</mat-error>
<mat-error *ngIf="campo?.email">{{getErrorMessage('email')}}</mat-error>
<mat-error *ngIf="campo?.validateEmailExist">{{getErrorMessage('validateEmailExist')}}</mat-error>
<mat-error *ngIf="campo?.required">{{getErrorMessage('required')}}</mat-error>
<mat-error *ngIf="campo?.number">{{getErrorMessage('number')}}</mat-error>
<mat-error *ngIf="campo?.date">{{getErrorMessage('date')}}</mat-error>
<mat-error *ngIf="campo?.validateRoleExist">{{getErrorMessage('validateRoleExist')}}</mat-error>
