<mat-card class="" fxFlex="100" *ngIf="patient?.id">
  <button class="btn-close-modal" mat-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title>
      Resultado
      <span *ngIf="this.result$ | async as resultado"> ID {{ resultado.id }} </span>
    </mat-card-title>
    <mat-card-subtitle>Detalles del resultado</mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="form">
    <div class="container">
      <div class="form1" *ngIf="(this.result$ | async) || !edit; else loading">
        <mat-form-field class="mvd-col1-2" appearance="outline">
          <mat-label>Fecha de solicitud</mat-label>
          <input
            formControlName="date_sol"
            matInput
            placeholder="Fecha de solicitud"
            [matDatepicker]="pickerdate_sol"
            (dateChange)="formatDate($event, 'date_sol')"
            autocomplete="off"
            (click)="pickerdate_sol.open()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerdate_sol"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerdate_sol></mat-datepicker>
        </mat-form-field>

        <div class="mvd-col1-3">
          <mvd-input-select-add-item
            [value]="valueFinanciacionSelect"
            [options]="optionsFinancings"
            [namePlaceholder]="'Financiación'"
            (addOption)="addFinanciacion($event)"
            (changeValue)="changeFinanciacion($event)"
          ></mvd-input-select-add-item>
        </div>
        <div class="mvd-col1-3">
          <mvd-input-select-add-item
            [value]="valueLabSelect"
            [options]="optionsLabs"
            [namePlaceholder]="'Laboratorio'"
            (addOption)="addLab($event)"
            (changeValue)="changeLab($event)"
          ></mvd-input-select-add-item>
        </div>

        <mat-form-field class="mvd-col1-2" appearance="outline">
          <mat-label>Fecha de Recepción</mat-label>
          <input
            formControlName="date_recep"
            matInput
            placeholder="Fecha de Recepción"
            [matDatepicker]="pickerdate_recep"
            (dateChange)="formatDate($event, 'date_recep')"
            autocomplete="off"
            (click)="pickerdate_recep.open()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerdate_recep"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerdate_recep></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="mvd-col1-2" appearance="outline">
          <mat-label>Fecha de Entrega</mat-label>
          <input
            formControlName="date_entrega"
            matInput
            placeholder="Fecha de Entrega"
            [matDatepicker]="pickerdate_entrega"
            (dateChange)="formatDate($event, 'date_entrega')"
            autocomplete="off"
            (click)="pickerdate_entrega.open()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerdate_entrega"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerdate_entrega></mat-datepicker>
        </mat-form-field>
        <div class="mvd-col1-3">
          <mvd-input-select-add-item
            [value]="valueTypeStudySelect"
            [options]="optionsStudies"
            [namePlaceholder]="'Tipo de Estudio'"
            (addOption)="addStudyType($event)"
            (changeValue)="changeStudyType($event)"
          ></mvd-input-select-add-item>
        </div>
        <div class="mvd-col1-3">
          <ng-container *ngIf="showResult">

            <mvd-input-select-add-item
              [value]="valueResultTypeStudySelect"
              [options]="optionsResultStudyType"
              [namePlaceholder]="'Resultado de Estudio'"
              (addOption)="addResultStudyType($event)"
              (changeValue)="changeResultStudyType($event)"

            ></mvd-input-select-add-item>
          </ng-container>

        </div>


        <div class="doble mvd-col1--1">
          <mat-checkbox
            color="primary"
            formControlName="reclasificado"
            class="checkbox"
            >Reclasificado</mat-checkbox
          >
          <mat-form-field
            class=""
            appearance="outline"
            *ngIf="form.get('reclasificado').value"
          >
            <mat-label>Obs de reclasificación</mat-label>
            <input
              formControlName="reclas_obs"
              matInput
              type="text"
              placeholder="Obs de reclasificación"
            />
          </mat-form-field>
        </div>

        <mat-form-field class="mvd-col1--1" appearance="outline">
          <mat-label>Observaciones</mat-label>
          <input
            formControlName="obs_result"
            matInput
            type="text"
            placeholder="Observaciones"
          />
        </mat-form-field>
      </div>


      <div class="">
        <mvd-gen-result></mvd-gen-result>

      </div>
    </div>

  </form>
  <div
    class="mvd-col1--1 submit"
  >
    <button
      mat-flat-button
      color="primary"
      class="btn"
      [disabled]="!form.valid"
      (click)="submit()"
    >
      Guardar
    </button>
  </div>
</mat-card>
<ng-template #loading>
  <div class="div-content">
      <div class="loading"><div></div><div></div><div></div></div>

  </div>
</ng-template>
