
.mat-card{
  box-shadow: none!important;
  margin:0px!important;
  padding:1rem!important;
  height: 100%!important;
}
.container{
  display: grid;
  height: 100%;
  // grid-template-columns: repeat(auto-fill, minmax(min(20%,300px),1fr));
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  overflow: hidden;
  overflow-y: auto;
  .form1{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(2,1fr);
  }
}

.doble{
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center;
  min-height: 62px;
  mat-form-field{
    width: 100%!important;
  }
}

.checkbox{
  margin-top: -16px;
  max-width: 150px;
}
.submit{
  text-align: right;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
mvd-result{
  height: 100%;
}
