<mvd-header [drawer]="drawer"></mvd-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) === false">
    <ng-scrollbar>
      <mvd-menu-principal></mvd-menu-principal>
    </ng-scrollbar>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- Add Content Here -->

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
