
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 210px;
  margin-top: 64px;
}
.mat-sidenav-content{
  padding: 0px 2rem;
  box-sizing: border-box!important;
  background-color: #ECEFF1;
}
