.tabs-content{
    margin-top: 3rem;
}

.mat-card-actions{
    padding-right: 1.5rem;
}

.btn-submit{
    width: 100px;
    line-height: 2.2;
    margin: 1rem;
}
.mat-card-subtitle{
    padding-left: 1rem!important;
    
}
.index{
    color: red;
    width: 33.3%;
}
.show{
    color:green;
    width: 33.3%;
}
.create{
    width: 33.3%;
    color: blue;
}
.delete{
    width: 33.3%;
    color:gray
}
.update{
    width: 33.3%;
    color: blueviolet;
}

.content-group-checkbox{
    
    box-sizing: border-box;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.checkbox-group-title{
    box-sizing: border-box;
    label span{
        font-size: 10pt!important;
        font-weight: 500;
    }
}
.checkbox-items{
    box-sizing: border-box;
    margin-left: 1rem;
    label span{
        font-size: 10pt!important;
    }
}