<mat-card *ngIf="form" class="card mat-elevation-z2 animate__animated animate__slideInRight">
    <mat-card-header>
        <mat-card-title>Ficha de Rol</mat-card-title>
        <mat-card-subtitle *ngIf="roleEdit as role">
            Rol: {{ role.id }} /
            Nombre: {{ role.name }} /
            Descripción: {{ role.description }}
        </mat-card-subtitle>

        <div fxLayoutAlign="end center">
            <button class="btn-submit" mat-stroked-button color="primary"
                (click)="back()">Volver</button>
            <button [disabled]="!form.valid" class="btn-submit" mat-flat-button color="primary"
                (click)="onSubmit()">Guardar</button>
        </div>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="form" fxFlex="100" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline" fxFlex="48" fxLayout="column" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" placeholder="Nombre">
                <mat-error>
                    <mvd-errors-messages [campo]="form.get('name').errors" [name]="'Nombre'">
                    </mvd-errors-messages>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="48" fxLayout="column" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="description" placeholder="Descripción">
                <mat-error>
                    <mvd-errors-messages [campo]="form.get('description').errors" [name]="'Descripción'">
                    </mvd-errors-messages>
                </mat-error>
            </mat-form-field>

            <section *ngIf="permissions" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" >
                
                <div fxFlex="calc(33.3% - 10px)" class="content-group-checkbox" 
                    fxLayout="column wrap"
                    *ngFor="let group of permissions | tree;" checkChildren>
                    
                    <div fxFlex="100" fxLayout="row" class="checkbox-group-title">
                            <label class="material-checkbox">
                                <input type="checkbox" selectGroup>
                                <span fxLayoutAlign="start center">{{ traslateTitle(group.name) }}</span>
                            </label>
                    </div>

                    <div fxFlex="100"  fxLayout="column" class="checkbox-items">
                            <label class="material-checkbox" formArrayName="permissions" *ngFor="let child of group.children;">
                                <input type="checkbox" [formControlName]="child.index">                  
                                <span fxLayoutAlign="start center">{{ permissions[child.index].description }}</span>
                            </label>
                    </div>
                    
                </div>
                
            </section>
            

        </form>


    </mat-card-content>

    <span class="border"></span>
</mat-card>