.mat-card{
  box-shadow: none!important;
  margin:0px!important;
  padding-left: 16px!important;

}
.content-group-form{
  margin-bottom: 1rem;
}

form{
  // display: grid;
  // width: 100%;
  // grid-template-columns: ;
  // gap: 1rem;
  // align-items: flex-start;
  // padding: 1rem!important;
  .btn-actions{
    width: 100%!important;
    grid-column: 1/-1;
      button{
          margin-left: auto;
          margin-right: auto;
          // padding: 10px 50px;
      }
  }

}



