<mat-card class="" fxFlex="100">
  <button class="btn-close-modal" mat-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-header>
    <h3>Solicitud de Estudio</h3>
  </mat-card-header>

  <form [formGroup]="form">
    <div *ngIf="(studyRequest$ | async) || !edit; else loading" fxFlex="100"  fxLayout="row wrap" fxFlex.lt-md="100" fxLayoutAlign="space-between center" >

      <mat-form-field class="" appearance="outline" fxFlex="74" fxFlex.lt-md="100">
        <mat-label>Paciente</mat-label>
        <input matInput aria-label="Paciente" placeholder="código, documento, nombre" [matAutocomplete]="auto"
          formControlName="patient_id" type="text">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getNamePatient.bind(this)">
          <mat-option *ngFor="let item of patients$ | async" [value]="item.id">
            ({{item.code}}) {{item.name}} {{ item.last_name }}
          </mat-option>
        </mat-autocomplete>
        <button class="add-icon-input" type="button" matSuffix mat-icon-button aria-label="Add" [disabled]="disable" (click)="addPatient()">
          <mat-icon color="primary">add_circle</mat-icon>
        </button>
        <mat-error>
          <mvd-errors-messages [campo]="form.get('patient_id').errors" [name]="'Paciente'"></mvd-errors-messages>
        </mat-error>
      </mat-form-field>

      <mat-form-field class=""  fxFlex="25" fxFlex.lt-md="100" appearance="outline">
        <mat-label>Fecha de solicitud</mat-label>
        <input
          formControlName="date_sol"
          matInput
          placeholder="Fecha de solicitud"
          [matDatepicker]="pickerdate_sol"
          (dateChange)="formatDate($event, 'date_sol')"
          autocomplete="off"
          (click)="pickerdate_sol.open()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerdate_sol"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerdate_sol></mat-datepicker>
      </mat-form-field>


      <div class=""  fxFlex="24" fxFlex.lt-md="100">
        <mvd-input-select-add-item
          [value]="valueFinanciacionSelect"
          [options]="optionsFinancings"
          [namePlaceholder]="'Financiación'"
          [disabled]="disable"
          (addOption)="addFinanciacion($event)"
          (changeValue)="changeFinanciacion($event)"
        ></mvd-input-select-add-item>
      </div>

      <div class=""  fxFlex="24" fxFlex.lt-md="100">
        <mvd-input-select-add-item
          [value]="valueLabSelect"
          [options]="optionsLabs"
          [disabled]="disable"
          [namePlaceholder]="'Laboratorio'"
          (addOption)="addLab($event)"
          (changeValue)="changeLab($event)"
        ></mvd-input-select-add-item>
      </div>

      <div class=""  fxFlex="24" fxFlex.lt-md="100">
        <mvd-input-select-add-item
          [value]="valueTypeStudySelect"
          [options]="optionsStudies"
          [namePlaceholder]="'Tipo de Estudio'"
          [disabled]="disable"
          (addOption)="addStudyType($event)"
          (changeValue)="changeStudyType($event)"
        ></mvd-input-select-add-item>
      </div>

      <div class=""  fxFlex="24" fxFlex.lt-md="100" >
        <ng-container *ngIf="edit">
          <mat-form-field class="" *ngIf="dataSelects$ | async as dataSelects" appearance="outline" fxFlex="100">
            <mat-label>Estado de la Solicitud</mat-label>
            <mat-select placeholder="Seleccione..." formControlName="status_req">
              <mat-option value="null">Ninguno</mat-option>
              <mat-option *ngFor="let item of dataSelects.status_solicitudes" [value]="item.value">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>

      <div class="content-group-form"   fxLayout="row wrap" fxFlex="100" fxFlex.lt-md="100">

        <div class=""  fxFlex="100"  fxFlex.lt-md="100">
          <p>Selecciona una Muestra para crear un resultado</p>
          <mvd-input-select-add-item
            [value]="valueSampleSelect"
            [options]="optionsSample"
            [namePlaceholder]="'Muestras'"
            [addOptionRoute]="routePatient"
            [disabled]="disable || (optionsSample.length ? false : true)"
            (addOption)="addSample()"
            (changeValue)="changeSample($event)"
          ></mvd-input-select-add-item>


        </div>

        <div  fxFlex="100" fxFlex.lt-md="100"  >
          <span fxFlex="30">
            <button [disabled]="!valueSampleSelect" fxFlex="100" mat-flat-button class=""
            (click)="!this.disable ? openAddResult() : openEditResult()" color="primary">{{ disable ? "Ver " : "Guardar y Crear "}}Resultado
            </button>
          </span>
          <span fxFlex="30"></span>
          <span fxFlex="30"></span>
          <span fxFlex="30"></span>

        </div>
      </div>



      <div fxFlex="100" fxLayout="row" fxFlex.lt-md="100" fxLayoutAlign="between" class="btn-actions mvd-col1--1">
        <span fxFlex="30"></span>
        <span fxFlex="30"></span>
        <span fxFlex="30"></span>
        <!-- <button mat-flat-button class="btn-secondary">Guardar y Crear Nuevo</button> -->
        <button fxFlex="10" mat-flat-button class="" type="submit" [disabled]="!form.valid"
          (click)="submit()" color="primary">Guardar</button>

      </div>
    </div>

  </form>

</mat-card>
<ng-template #loading>
  <div class="div-content">
      <div class="loading"><div></div><div></div><div></div></div>

  </div>
</ng-template>
