<div class="header-table">
  <mvd-input-search (changeSearch)="search($event)" [noteFilterBy]="'Filtra por datos de cualquiera de las columnas'" ></mvd-input-search>
  <div class="actions">
     <ng-container *mvdPermissions="['sample.create']">
         <button *ngIf="sample"  (click)="add()" mat-flat-button color="primary">
             <mat-icon class="material-icons-round">add</mat-icon><span>Crear</span>
         </button>
     </ng-container>

      <!-- <button mat-flat-button color="" class="btn-simple">
         <mat-icon class="material-icons-round">print</mat-icon> Imprimir
     </button> -->
     <!-- <button mat-flat-button color="" disabled class="btn-simple">
         <mat-icon class="material-icons-round">save_alt</mat-icon> Exportar
      </button> -->

 </div>

</div>



  <mat-card-content>
      <mvd-data-table [columns]="columns" [dataSource]="dataSource | async" (actionChange)="itemAction($event)" ></mvd-data-table>
      <mat-paginator (page)="paginatorChange($event)" [length]="totalResut | async" [pageSize]="perPage" [pageSizeOptions]="[20,50,100]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
