<div class="container" fxFlex="100" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
  <!-- <div class="image-content" fxFlex="60" fxHide fxShow.gt-sm>

  </div> -->
  <mat-card class="main" fxFlex="30" fxLayout="row wrap" fxFlex.xs="100" fxFlex.sm="100" fxLayoutAlign="center center">
    <div xFlex="40" fxLayout="row" fxFlex.xs="40" fxFlex.sm="40" fxLayoutAlign="center center">
      <div fxFlex="100" class="logo">
        <img src="../../../assets/images/logo.svg" alt="logo">
      </div>

    </div>


    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" fxFlex="100" fxLayout="row" fxFlex.xs="100"
      fxFlex.sm="100" fxLayoutAlign="center center">
      <div fxFlex="100" fxLayout="column" fxFlex.xs="100" fxFlex.sm="100" fxLayoutAlign="center center">

        <div class="" fxLayout="row" fxFlex="100" fxFlex.xs="100" fxFlex.sm="100">
          <h3>Datos de Acceso</h3>
        </div>

        <div class="row">
          <p *ngIf="error" class="error">{{ error }}</p>
        </div>

        <div class="row" fxLayout="row" fxFlex="100" fxFlex.xs="100">
          <mat-form-field appearance="outline" fxLayout="row" fxFlex="100">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="Email" formControlName="email" autocomplete="off">
            <mat-error *ngIf="form.get('email').valid">OK</mat-error>
            <mat-error *ngIf="form.get('email').errors">Email inválido</mat-error>
            <!-- <mat-error *ngIf="form.get('email').errors">Campo requerido</mat-error> -->
          </mat-form-field>
        </div>

        <div class="row" fxLayout="row" fxFlex="100" fxFlex.xs="100">
          <mat-form-field appearance="outline" fxLayout="row" fxFlex="100">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Contraseña" type="password" formControlName="password" autocomplete="off">
            <mat-error *ngIf="form.get('password').errors">Campo requerido</mat-error>
          </mat-form-field>
        </div>

        <div class="row" fxLayout="row" fxFlex="100" fxFlex.xs="100" fxLayout="row" fxFlex="100">
          <button class="btn" mat-flat-button color="primary">Entrar</button>
        </div>

      </div>


    </form>
    <span class="border"></span>
    <span class="border-r"></span>

  </mat-card>
</div>