
.container {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background-color: #e6e8e9;
    height: 100vh;
    .main{
        background-color: white;
        padding: 3rem!important;
        
        padding-bottom: 3rem;
        box-shadow: 0px 0px 27px -5px rgb(22, 23, 33);
        border-radius:10px

    }
    .row{
        width: 100%;
    }
    .mat-form-field{
        width: 100%!important;
        display:block!important
    }

} 

.logo{
    width: 100%;

    box-sizing: border-box;
    img{
        width: 100%;
        // height: fit-content;
        object-fit: contain;
        object-position: center;
    }
}
.form{
    margin-top:1rem;
    
    h3{
        font-weight: 500;
    }
}
.btn{
    width: 100%;
}
.error{
    color: red
}



