<mat-card class="card mat-elevation-z16 animate__animated animate__slideInRight" >

    <mat-card-header>
        <mat-card-title>Usuarios</mat-card-title>
        <mat-card-subtitle>Administrar Usuarios</mat-card-subtitle>

    </mat-card-header>
    <mvd-users-table></mvd-users-table>
    <span class="border"></span>

</mat-card>