<div fxFlex="100" fxLayout="column">
  <p class="consentimiento-no-firmado" *ngIf="!consentimiento && dataSource">
    <mat-icon color="warn" fontSet="material-icons-round">warning_amber</mat-icon>
    Consentimiento No Firmado
  </p>

  <div class="content-group-form" fxFlex="50" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutGap="6px"
    fxLayoutAlign="start center">


    <h3 fxLayout="row" fxFlex="calc(33.3% - 6px)" fxFlex.lt-md="calc(100%-6px)">Adjuntar archivos</h3>
    <span>
      <label for="upload_input_consentimiento">
        <a mat-stroked-button class="btn" color="accent" fxFlex="calc(33.3% - 6px)" fxFlex.lt-md="calc(50%-6px)">
          <mat-icon fontSet="material-icons-round">upload_file</mat-icon>
          Consentimiento
        </a>
      </label>
      <input id="upload_input_consentimiento" [formControl]="files_consentimiento" (change)="upload($event,true)" type="file" hidden multiple>
    </span>

    <span>
      <label for="upload_input">
        <a mat-stroked-button class="btn" color="primary" fxFlex="calc(33.3% - 6px)" fxFlex.lt-md="calc(50%-6px)">
          <mat-icon fontSet="material-icons-round">backup</mat-icon>
          Selecciona Archivo
        </a>
      </label>
      <input id="upload_input" [formControl]="files" (change)="upload($event)" type="file" hidden multiple>
    </span>
  </div>
  <div class="" fxFlex="100" fxLayout="column">
    <mvd-data-table [columns]="columns" [dataSource]="dataSource | async" (actionChange)="itemAction($event)"
    [btnPreview]="true"
    [btnDownload]="true">
    </mvd-data-table>
    <mat-paginator (page)="paginatorChange($event)" [length]="totalResut | async" [pageSize]="perPage"
      [pageSizeOptions]="[20,50,100]" showFirstLastButtons></mat-paginator>

  </div>

</div>


