h3{
    font-weight: 500;
}
.bg-row{
    background-color: #E1F5FE;
    text-decoration: none;
}
.btn{
    text-decoration: none;
}
.full{
  position: absolute;
  width: 100%;
  height: 100%;
}
.consentimiento-no-firmado{
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  padding: 2px 0px;
  line-height: 1;
  width: 100%;
  border-radius: 5px;
  color: var(--color-warn)!important;
  background-color: rgba(209, 18, 18, 0.288);
  .mat-icon{
    margin-right: 5px;
  }
}
