<ng-container *ngIf="family || add && edit; else addBtn">
  <form [formGroup]="form" fxFlex="100" fxLayout="row wrap">
    <fieldset [disabled]="!edit" fxFlex="100" fxLayout="row wrap">
      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="10px"
        fxLayoutAlign="start stretch">
        <mat-form-field class="" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
          <mat-label>Código</mat-label>
          <input formControlName="code" matInput type="text" placeholder="Código Paciente" [readonly]="!edit">
          <mat-error>
            <mvd-errors-messages [campo]="form.get('code').errors" [name]="'Código'"></mvd-errors-messages>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="dgs" class="" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
          <mat-label>DG</mat-label>
          <input matInput aria-label="DG" [matAutocomplete]="auto" formControlName="dg_id" type="text" [readonly]="!edit">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="getNameDg.bind(this)">
            <mat-option *ngFor="let item of filteredDgs$ | async" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-autocomplete>
          <button class="add-icon-input"  type="button" matSuffix mat-icon-button aria-label="Add"
            (click)="addDg(form.get('dg_id'))">
            <mat-icon color="primary">add_circle</mat-icon>
          </button>
          <mat-error>
            <mvd-errors-messages [campo]="form.get('dg_id').errors" [name]="'DG'"></mvd-errors-messages>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="consultaCgus" class="" appearance="outline" fxFlex="33" fxFlex.lt-md="100">
          <mat-label>Consulta CGU</mat-label>
          <input matInput aria-label="Consulta CGU" [matAutocomplete]="auto" formControlName="consulta_cgu_id" type="text"
            [readonly]="!edit">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="getNameConsultaCgu.bind(this)">
            <mat-option *ngFor="let item of filteredConsultaCgus$ | async" [value]="item.id">
              {{item.name}} {{ item.last_name }}
            </mat-option>
          </mat-autocomplete>
          <button class="add-icon-input"  type="button" matSuffix mat-icon-button aria-label="Add"
            (click)="addConsultaCgu(form.get('consulta_cgu_id'))">
            <mat-icon color="primary">add_circle</mat-icon>
          </button>
          <mat-error>
            <mvd-errors-messages [campo]="form.get('consulta_cgu_id').errors" [name]="'Consulta CGU'">
            </mvd-errors-messages>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="" *ngIf="family" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
          <mat-label>Creada</mat-label>
          <input matInput type="text" placeholder="Creada" [value]="form.get('created_at').value | date:'dd/MM/YYYY'"
            readonly>

        </mat-form-field>

        <mat-form-field class="" *ngIf="family" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
          <mat-label>Actualizada</mat-label>
          <input matInput type="text" placeholder="Actualizada" [value]="form.get('updated_at').value | date:'dd/MM/YYYY'"
            readonly>

        </mat-form-field>

      </div>


      <div fxFlex="100" fxLayout="row wrap" *ngIf="family" class="content-column-checkbox" fxLayoutGap="1rem"
        fxLayoutAlign="start stretch">

        <div class="checkbox" appearance="outline" fxFlex="16" fxFlex.lt-md="100" fxLayoutAlign="none start">
          <mat-checkbox formControlName="studied" >Estudiada</mat-checkbox>
        </div>


      </div>

    </fieldset>
      <div fxFlex="25" *ngIf="edit" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="1rem"
        fxLayoutAlign="start stretch">
        <button mat-stroked-button color="primary" class="btn" (click)="edit = false">Cancelar</button>
      </div>

      <div fxFlex="25" *ngIf="edit || !family" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="1rem"
        fxLayoutAlign="start stretch">
        <button mat-flat-button color="primary" class="btn" (click)="submitFamily()">Guardar</button>
      </div>

      <div fxFlex="100" *ngIf="!edit && family" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="1rem"
        fxLayoutAlign="start stretch">
        <button mat-flat-button color="primary" class="btn" (click)="edit = true">Editar</button>
      </div>
    </form>

</ng-container>

<ng-template #addBtn>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="1rem">

    <button fxFlex="40" mat-flat-button color="primary" class="btn" (click)="addFamily()">
      <mat-icon class="mat-18">add</mat-icon> <span>Crear Familia</span>
    </button>

    <mvd-assign-family fxFlex="50"></mvd-assign-family>
  </div>


</ng-template>
