<mat-toolbar class="toolbar-principal">
    <span>
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
       
        >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="picaworks">Onco</span>
        <span class="subtitle-admin">GENE</span>
    </span>
    <span></span>
    <mvd-user-menu></mvd-user-menu>
</mat-toolbar>