.tabs-content{
    margin-top: 1rem;
}
h3{
  display: flex;
  align-items: center;
  gap: 5px;
}
.notification{
  position: absolute;
  top: 1rem;
  right: 1rem;

  .mat-badge-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    font-size: 10px!important;
    font-weight: 500;

  }
}
.mat-card-actions{
    padding-right: 1.5rem;
}

.btn-submit{
    width: 100px;
    line-height: 2.2;
    margin: 1rem;
}
.mat-card-subtitle{
    padding-left: 1rem!important;
    display: block!important;
    height: 120px!important;
    width: 100%!important;

}
.consentimiento-firmado{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 190px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--color-accent)!important;
  background-color: rgba(32, 219, 41, 0.26);
}
.consentimiento-no-firmado{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 5px 10px;
  width: 220px;
  border-radius: 5px;
  color: var(--color-warn)!important;
  background-color: rgba(209, 18, 18, 0.288);
  .mat-icon{
    margin-right: 5px;
  }
}

.traces-item{
  margin-bottom: 2rem;
}
