<mat-card fxLayout="column" fxFlex="100" class="card mat-elevation-z2 animate__animated animate__slideInRight">
  <mat-card-header>
    <mat-card-title>Ficha Paciente</mat-card-title>
    <mat-card-subtitle>
      <ng-container *ngIf=" patientEdit | async as patient">

        <h3>{{ patient.code }} - {{ patient.name }} {{ patient.last_name }}
          <mat-icon *ngIf="patient.dead" fontSet="material-icons-round"  color="warn" matTooltip="Fallecido">loyalty</mat-icon>
        </h3>
        <!-- <p>Estado actual: <span class="negrita">{{ statusEvolution }}</span></p> -->

        <ng-container *ngIf="consentimiento">
          <p class="consentimiento-firmado">
            <mat-icon color="accent" fontSet="material-icons-round">task</mat-icon>
            Consentimiento Firmado
          </p>
        </ng-container>
      </ng-container>
    </mat-card-subtitle>


    <div fxLayoutAlign="end center">
      <button class="btn-submit" mat-stroked-button color="primary" (click)="back()">Volver</button>
      <button *mvdPermissions="['patient.update','patient.create']" class="btn-submit" mat-flat-button color="primary"
        (click)="onSubmit()">Guardar</button>
    </div>
  </mat-card-header>


  <mat-card-content fxLayout="row wrap" fxFlex="100">

    <mat-tab-group class="tabs-content">


      <mat-tab label="Datos de Identificación">

          <mvd-patient-identification (dataIdentification)="dataIdentification($event)">
          </mvd-patient-identification>


      </mat-tab>

      <mat-tab label="Datos Clínicos" [disabled]="!(patientEdit |async) ? true : false">

          <mvd-basic-data (dataBasic)="dataBasic($event)"></mvd-basic-data>


      </mat-tab>

      <mat-tab label="Muestras" [disabled]="!(patientEdit |async) ? true : false">
        <ng-template matTabContent>
          <mvd-patient-samples [patient]="patientEdit |async"></mvd-patient-samples>

        </ng-template>


      </mat-tab>

      <mat-tab label="Solicitudes" [disabled]="!(patientEdit |async) ? true : false">
        <ng-template matTabContent>
          <mvd-study-requests [typeTab]="true" [patient_id]="patient?.id"></mvd-study-requests>
        </ng-template>


      </mat-tab>

      <mat-tab [disabled]="!(patientEdit |async) ? true : false">
        <ng-template mat-tab-label>
          <span *ngIf="!consentimiento && patientEdit |async" matTooltip="Sin concentimiento" matBadge="1" matBadgeColor="warn" class="notification"></span>
          <span >Documentos Adjuntos</span>
        </ng-template>
        <ng-template matTabContent>
          <mvd-attached-files *ngIf="patientEdit |async as patientEdit" [patient]="patientEdit"></mvd-attached-files>
        </ng-template>


      </mat-tab>

      <mat-tab label="Familia" [disabled]="!(patientEdit |async) ? true : false">
        <ng-template matTabContent>
          <mvd-family-patient *ngIf="patientEdit |async as patientEdit" [patient]="patientEdit"></mvd-family-patient>

        </ng-template>


      </mat-tab>

      <mat-tab label="Seguimiento" [disabled]="!(patientEdit |async) ? true : false">
        <ng-template matTabContent  >
          <ng-container *ngIf="patientEdit |async as patientEdit">

            <mvd-tracing class="traces-item" [patient]="patientEdit" (changeTracing)="changeTracing($event)"></mvd-tracing>
            <mvd-new-tumor class="traces-item" [patient]="patientEdit"></mvd-new-tumor>
            <mvd-score-patient class="traces-item" [patient]="patientEdit"></mvd-score-patient>
            <mvd-tracing-quimioprofilaxis class="traces-item" [patient]="patientEdit" (changeTracing)="changeTracing($event)"></mvd-tracing-quimioprofilaxis>
            <mvd-tracing-oncofertilidad class="traces-item" [patient]="patientEdit" (changeTracing)="changeTracing($event)"></mvd-tracing-oncofertilidad>
            <mvd-tracing-bd-international class="traces-item" [patient]="patientEdit"></mvd-tracing-bd-international>
            <mvd-tracing-studies class="traces-item" [patient]="patientEdit"></mvd-tracing-studies>
            <mvd-tracing-questionary class="traces-item" [patient]="patientEdit"></mvd-tracing-questionary>

            <mvd-traces  class="traces-item" [patient]="patientEdit"></mvd-traces>
          </ng-container>

        </ng-template>
      </mat-tab>

      <mat-tab label="Resultados" [disabled]="!patientEdit ? true : false">
        <ng-template matTabContent>
          <mvd-results></mvd-results>
        </ng-template>
      </mat-tab>


    </mat-tab-group>

  </mat-card-content>


  <span class="border"></span>
</mat-card>
<ng-template #loading>
  <div class="div-content">
    <div class="loading">
      <div></div>
      <div></div>
      <div></div>
    </div>

  </div>
</ng-template>
