<mat-card class="card mat-elevation-z16 animate__animated animate__slideInRight" >

    <mat-card-header>
        <mat-card-title>Muestras</mat-card-title>
        <mat-card-subtitle>Administrar Muestras</mat-card-subtitle>

    </mat-card-header>
    <mvd-samples-table></mvd-samples-table>
    <span class="border"></span>

</mat-card>
