<div fxFlex="100" fxLayout="row wrap" fxLayoutGap="2rem" fxLayoutAlign="space-between center">
  <ng-container *ngIf="families$ | async as families ">

    <mat-form-field *ngIf="families.length >= 1"  fxFlex="100" fxFlex.lt-md="100"  class="" appearance="outline">
      <mat-label>Seleccionar Familia</mat-label>
      <mat-select (valueChange)="changeValue($event)" placeholder="Seleccionar Familia" [formControl]="changeFamily">


        <mat-option *ngFor="let item of families" [value]="item">
          {{ item.code }}
        </mat-option>

      </mat-select>

    </mat-form-field>


  </ng-container>


</div>
