<form [formGroup]="form" fxLayout="row wrap" class="card pl-5" fxFlex="100" fxLayoutGap="1rem"
  fxLayoutAlign="start stretch">
  <!-- gorop -->
  <div class="content-groups" fxFlex="100" fxLayout="column" fxLayoutGap="6px">
    <div class="content-group-form" fxFlex="100" fxLayout="row wrap" fxLayoutGap="6px">
      <h3 fxFlex="100">Score de Riesgo</h3>

      <ng-container *ngIf="patient?.new_tumors">
        <p class="antecedents-list" fxFlex="100" fxFlex.lt-md="100" *ngFor="let antecedent of patient.patient_scores">
          <span class="text-list" fxFlex="50" fxFlex.lt-md="100">Score {{ antecedent.score }}, {{ antecedent.percentage }}% .</span>

          <span class="btn-list">
            <button mat-icon-button type="button" class="buttons-actions" (click)="removeAntecedent(antecedent.id)"
              matTooltip="Eliminar" matTooltipClass="tips">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </span>
        </p>
      </ng-container>

      <mat-form-field class="" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
        <mat-label>Score</mat-label>
        <input formControlName="score" matInput type="text" placeholder="Score" />
      </mat-form-field>

      <mat-form-field class="" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
        <mat-label>Porcentage</mat-label>
        <input formControlName="percentage" matInput type="number" placeholder="Porcentage"  />
        <mat-icon matSuffix>percent</mat-icon>
      </mat-form-field>

      <span fxFlex="10">
        <button class="add-icon" type="button" mat-icon-button aria-label="Add" (click)="submitAntecedent()">
          <mat-icon color="primary">add_circle</mat-icon>
        </button>
      </span>
    </div>
  </div>
</form>
