.antecedents-list{
  height: 25px;
  font-size: 10pt;
  align-items: center;
  display: flex;
  .text-list{
  }
  .text-list-antecedente{
    width: 250px;
  }
  .btn-list{
    width: 10%;
  }
}
h3{
  font-weight: 500;
}


.content-column-checkbox{
  .checkbox{
      padding: 10px;
      padding-bottom: 27px;
  }
}
.content-groups{
  width: 100%;
}
.bg-row{
  background-color: #E1F5FE;
}
.chip-antecedentes{
  min-height: 20px!important;
  font-weight: 400;
  font-size: 12px;
}
