<form [formGroup]="form" *ngIf="form" fxFlex="100" fxLayoutGap="6px" fxLayout="row wrap" fxLayoutAlign="start center">

  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
    fxLayoutAlign="start stretch">
    <mat-checkbox color="primary" formControlName="trat_q" fxFlex="20" class="checkbox">Tratamiento quirúrgico
    </mat-checkbox>

    <mat-form-field class="" *ngIf="form.get('trat_q').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
      <mat-label>Fecha</mat-label>
      <input formControlName="trat_q_date" matInput placeholder="Fecha" [matDatepicker]="picker"
        (dateChange)="formatDate($event,'trat_q_date')" autocomplete="off" (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="" *ngIf="form.get('trat_q').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100"
      fxFlexOffset.lt-md="0">
      <mat-label>Criterio</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="trat_q_criterio">
        <ng-container *ngIf="dataSelects | async as dataSelects">
          <mat-option *ngFor="let item of dataSelects.criterios_oncologicos" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('trat_q_criterio').errors" [name]="'Estadio'">
        </mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" *ngIf="form.get('trat_q').value" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
      <mat-label>Plan</mat-label>
      <input formControlName="trat_q_plan" matInput type="text" placeholder="Plan">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('trat_q_plan').errors" [name]="'Plan'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>
  </div>

  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
    fxLayoutAlign="start stretch">
    <mat-checkbox color="primary" formControlName="radio_t" fxFlex="20" class="checkbox">Radio Terapia</mat-checkbox>

    <mat-form-field class="" *ngIf="form.get('radio_t').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
      <mat-label>Fecha</mat-label>
      <input formControlName="radio_t_date" matInput placeholder="Fecha" [matDatepicker]="picker_radio"
        (dateChange)="formatDate($event,'radio_t_date')" autocomplete="off" >
      <mat-datepicker-toggle matSuffix [for]="picker_radio"></mat-datepicker-toggle>
      <mat-datepicker #picker_radio></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="" *ngIf="form.get('radio_t').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100"
      fxFlexOffset.lt-md="0">
      <mat-label>Criterio</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="radio_t_criterio">
        <ng-container *ngIf="dataSelects | async as dataSelects">
          <mat-option *ngFor="let item of dataSelects.criterios_tratamientos" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('radio_t_criterio').errors" [name]="'Estadio'">
        </mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" *ngIf="form.get('radio_t').value" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
      <mat-label>Plan</mat-label>
      <input formControlName="radio_t_plan" matInput type="text" placeholder="Plan">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('radio_t_plan').errors" [name]="'Plan'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>
  </div>

  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
    fxLayoutAlign="start stretch">
    <mat-checkbox color="primary" formControlName="quimio" fxFlex="20" class="checkbox">Quimioterapia</mat-checkbox>

    <mat-form-field class="" *ngIf="form.get('quimio').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
      <mat-label>Fecha</mat-label>
      <input formControlName="quimio_date" matInput placeholder="Fecha" [matDatepicker]="picker_quimio"
        (dateChange)="formatDate($event,'quimio_date')" autocomplete="off" >
      <mat-datepicker-toggle matSuffix [for]="picker_quimio"></mat-datepicker-toggle>
      <mat-datepicker #picker_quimio></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="" *ngIf="form.get('quimio').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100"
      fxFlexOffset.lt-md="0">
      <mat-label>Criterio</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="quimio_criterio">
        <ng-container *ngIf="dataSelects | async as dataSelects">
          <mat-option *ngFor="let item of dataSelects.criterios_tratamientos" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('quimio_criterio').errors" [name]="'Estadio'">
        </mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" *ngIf="form.get('quimio').value" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
      <mat-label>Plan</mat-label>
      <input formControlName="quimio_plan" matInput type="text" placeholder="Plan">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('quimio_plan').errors" [name]="'Plan'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>
  </div>


  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
    fxLayoutAlign="start stretch">
    <mat-checkbox color="primary" formControlName="homo" fxFlex="20" class="checkbox">Hormonoterapia</mat-checkbox>

    <mat-form-field class="" *ngIf="form.get('homo').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
      <mat-label>Fecha</mat-label>
      <input formControlName="homo_date" matInput placeholder="Fecha" [matDatepicker]="picker_hormono"
        (dateChange)="formatDate($event,'homo_date')" autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="picker_hormono"></mat-datepicker-toggle>
      <mat-datepicker #picker_hormono></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="" *ngIf="form.get('homo').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100"
      fxFlexOffset.lt-md="0">
      <mat-label>Criterio</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="homo_criterio">
        <ng-container *ngIf="dataSelects | async as dataSelects">
          <mat-option *ngFor="let item of dataSelects.criterios_tratamientos" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('homo_criterio').errors" [name]="'Estadio'">
        </mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" *ngIf="form.get('homo').value" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
      <mat-label>Plan</mat-label>
      <input formControlName="homo_plan" matInput type="text" placeholder="Plan">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('homo_plan').errors" [name]="'Plan'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>
  </div>


  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
    fxLayoutAlign="start stretch">
    <mat-checkbox color="primary" formControlName="terapia_bio" fxFlex="20" class="checkbox">Terapia Biológica
    </mat-checkbox>

    <mat-form-field class="" *ngIf="form.get('terapia_bio').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
      <mat-label>Fecha</mat-label>
      <input formControlName="terapia_bio_date" matInput placeholder="Fecha" [matDatepicker]="picker_bio"
        (dateChange)="formatDate($event,'terapia_bio_date')" autocomplete="off" >
      <mat-datepicker-toggle matSuffix [for]="picker_bio"></mat-datepicker-toggle>
      <mat-datepicker #picker_bio></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="" *ngIf="form.get('terapia_bio').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100"
      fxFlexOffset.lt-md="0">
      <mat-label>Criterio</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="terapia_bio_criterio">
        <ng-container *ngIf="dataSelects | async as dataSelects">
          <mat-option *ngFor="let item of dataSelects.criterios_tratamientos" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('terapia_bio_criterio').errors" [name]="'Estadio'">
        </mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" *ngIf="form.get('terapia_bio').value" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
      <mat-label>Plan</mat-label>
      <input formControlName="terapia_bio_plan" matInput type="text" placeholder="Plan">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('terapia_bio_plan').errors" [name]="'Plan'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>
  </div>

  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
    fxLayoutAlign="start stretch">
    <mat-checkbox color="primary" formControlName="inmuno_terapia" fxFlex="20" class="checkbox">Inmunoterapia
    </mat-checkbox>

    <mat-form-field class="" *ngIf="form.get('inmuno_terapia').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
      <mat-label>Fecha</mat-label>
      <input formControlName="inmuno_terapia_date" matInput placeholder="Fecha" [matDatepicker]="picker_inmuno"
        (dateChange)="formatDate($event,'inmuno_terapia_date')" autocomplete="off" >
      <mat-datepicker-toggle matSuffix [for]="picker_inmuno"></mat-datepicker-toggle>
      <mat-datepicker #picker_inmuno></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="" *ngIf="form.get('inmuno_terapia').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100"
      fxFlexOffset.lt-md="0">
      <mat-label>Criterio</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="inmuno_terapia_criterio">
        <ng-container *ngIf="dataSelects | async as dataSelects">
          <mat-option *ngFor="let item of dataSelects.criterios_tratamientos" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('inmuno_terapia_criterio').errors" [name]="'Estadio'">
        </mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" *ngIf="form.get('inmuno_terapia').value" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
      <mat-label>Plan</mat-label>
      <input formControlName="inmuno_terapia_plan" matInput type="text" placeholder="Plan">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('inmuno_terapia_plan').errors" [name]="'Plan'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>
  </div>

  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
    fxLayoutAlign="start stretch">
    <mat-checkbox color="primary" formControlName="otros" fxFlex="20" class="checkbox">Otros</mat-checkbox>

    <mat-form-field class="" *ngIf="form.get('otros').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
      <mat-label>Fecha</mat-label>
      <input formControlName="otros_date" matInput placeholder="Fecha" [matDatepicker]="picker_otro"
        (dateChange)="formatDate($event,'otros_date')" autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="picker_otro"></mat-datepicker-toggle>
      <mat-datepicker #picker_otro></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="" *ngIf="form.get('otros').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100"
      fxFlexOffset.lt-md="0">
      <mat-label>Criterio</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="otros_criterio">
        <ng-container *ngIf="dataSelects | async as dataSelects">
          <mat-option *ngFor="let item of dataSelects.criterios_oncologicos" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('otros_criterio').errors" [name]="'Estadio'">
        </mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" *ngIf="form.get('otros').value" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
      <mat-label>Plan</mat-label>
      <input formControlName="otros_plan" matInput type="text" placeholder="Plan">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('otros_plan').errors" [name]="'Plan'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>
  </div>



</form>
