h3{
    font-weight: 500;
}


.content-column-checkbox{
    .checkbox{
        padding: 10px;
        padding-bottom: 27px;
    }
}
.content-groups{
    width: 100%;
}
.bg-row{
    background-color: #E1F5FE;
}
.chip-antecedentes{
    min-height: 20px!important;
    font-weight: 400;
    font-size: 12px;
}