<div class="header-table">
  <mvd-input-search
    fxLayout="row"
    fxFlex="50"
    (changeSearch)="search($event)"
    [noteFilterBy]="'Filtra fecha, usuario, etapa, observaciones, etc.'"
  ></mvd-input-search>
  <div class="actions">
    <button mat-flat-button (click)="openDialog()" color="primary">
      <mat-icon class="material-icons-round">add</mat-icon><span>Crear</span>
    </button>
    <!-- <ng-container *mvdPermissions="['sample.create']">
         <button *ngIf="patient"  (click)="add()" mat-flat-button color="primary">
             <mat-icon class="material-icons-round">add</mat-icon><span>Crear</span>
         </button>
     </ng-container> -->

    <!-- <button mat-flat-button color="" class="btn-simple">
         <mat-icon class="material-icons-round">print</mat-icon> Imprimir
     </button> -->
    <!-- <button mat-flat-button color="" disabled class="btn-simple">
         <mat-icon class="material-icons-round">save_alt</mat-icon> Exportar
      </button> -->
  </div>
</div>

<mvd-data-table
  [columns]="columns"
  [dataSource]="dataSource | async"
  (actionChange)="itemAction($event)"
  [btnDelete]="false"
  [widthActions]="'w-5-100'"
>
</mvd-data-table>
<mat-paginator
  (page)="paginatorChange($event)"
  [length]="totalResut | async"
  [pageSize]="perPage"
  [pageSizeOptions]="[20, 50, 100]"
  showFirstLastButtons
></mat-paginator>
