<ng-container *ngIf="dataSelects$ | async as dataSelects">


  <form [formGroup]="form" *ngIf="form" fxFlex="100" fxLayoutGap="6px" fxLayout="row wrap" fxLayoutAlign="start center">

    <mat-form-field class="" appearance="outline" fxFlex="16" fxFlex.lt-md="100" fxFlexOffset.lt-md="0"
      fxFlexOffset="calc(62% + 3rem)">
      <mat-label>Tipo Paciente</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="type_patient" (selectionChange)="setCode($event)">
        <ng-container >
          <mat-option *ngFor="let item of dataSelects.type_patient" [value]="item.value">
            {{ item.name }}
          </mat-option>

        </ng-container>


      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('type_patient').errors" [name]="'Tipo de Paciente'">
        </mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" appearance="outline" fxFlex="16" fxFlex.lt-md="100">
      <mat-label>Código</mat-label>
      <input formControlName="code" matInput type="text" placeholder="Código Paciente">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('code').errors" [name]="'Código'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>


    <mat-form-field class="" appearance="outline" fxFlex="calc(30% + 6px)" fxFlex.lt-md="100">
      <mat-label>Nombres</mat-label>
      <input formControlName="name" type="text" matInput placeholder="Nombre">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('name').errors" [name]="'Nombre'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" appearance="outline" fxFlex="calc(30% + 6px)" fxFlex.lt-md="100">
      <mat-label>Apellidos</mat-label>
      <input formControlName="last_name" type="text" matInput placeholder="Apellidos" aria-autocomplete="off">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('last_name').errors" [name]="'Apellido'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" appearance="outline" fxFlex="11" fxFlex.lt-md="100">
      <mat-label>Fecha de Naciemiento</mat-label>
      <input formControlName="birth" type="datetime" matInput placeholder="Fecha de Naciemiento"
        (dateChange)="formatDate($event)" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('birth').errors" [name]="'Fecha nacimiento'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-checkbox color="primary" formControlName="dead" fxFlex="8" class="checkbox">Fallecido</mat-checkbox>

    <mat-form-field class="" appearance="outline" *ngIf="form.get('dead').value" fxFlex="11" fxFlex.lt-md="100">
      <mat-label>Fecha defunción</mat-label>
      <input formControlName="date_dead" type="datetime" matInput placeholder="Fecha defunción"
        (dateChange)="formatDateDead($event)" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('date_dead').errors" [name]="'Fecha defunción'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" appearance="outline" fxFlex="10" fxFlex.lt-md="100">
      <mat-label>Edad</mat-label>
      <input matInput placeholder="Edad" type="number" readonly formControlName="age">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('age').errors" [name]="'Edad'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="" appearance="outline" fxFlex="16"
      fxFlex.lt-md="100">
      <mat-label>Tipo Documento</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="type_doc">

        <mat-option *ngFor="let item of dataSelects.type_doc" [value]="item.value">
          {{ item.name }}
        </mat-option>

      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('type_doc').errors" [name]="'Tipo Documento'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" appearance="outline" fxFlex="16" fxFlex.lt-md="100">
      <mat-label>Nº Documento Identidad</mat-label>
      <input formControlName="n_doc" type="text" matInput placeholder="Documento de identidad">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('n_doc').errors" [name]="'Nº de documento'"></mvd-errors-messages>
      </mat-error>

    </mat-form-field>

    <mat-form-field class="" appearance="outline" fxFlex="calc(32% + 6px)" fxFlex.lt-md="100">
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput placeholder="Correo Electrónico">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('email').errors" [name]="'Email'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" appearance="outline" fxFlex="calc(32% + 6px)" fxFlex.lt-md="100">
      <mat-label>Dirección</mat-label>
      <input formControlName="address" type="text" matInput placeholder="Dirección">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('address').errors" [name]="'Dirección'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>


    <mat-form-field class="" appearance="outline" fxFlex="calc(16% + 6px)" fxFlex.lt-md="100">
      <mat-label>Teléfono</mat-label>
      <input formControlName="phone" type="tel" matInput placeholder="Teléfono">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('phone').errors" [name]="'Teléfono'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="countries | async as countries" class="" appearance="outline" fxFlex="calc(16% + 6px)"
      fxFlex.lt-md="100">
      <mat-label>Nacionalidad</mat-label>
      <mat-select placeholder="Seleccione Nacionalidad..." formControlName="nationality_id">
        <mat-option *ngFor="let country of countries" [value]="country.id">
          {{country.name}}
        </mat-option>
      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('nationality_id').errors" [name]="'País'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="countries | async as countries" class="" appearance="outline" fxFlex="calc(16% + 6px)"
      fxFlex.lt-md="100">
      <mat-label>Países</mat-label>
      <mat-select placeholder="Seleccione País..." formControlName="country_id" (selectionChange)="onSelectCountry()">
        <mat-option *ngFor="let country of countries" [value]="country.id">
          {{country.name}}
        </mat-option>
      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('country_id').errors" [name]="'País'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" *ngIf="states" appearance="outline" fxFlex="calc(16% + 6px)" fxFlex.lt-md="100">
      <mat-label>Departamento</mat-label>
      <input matInput aria-label="Departamento" [matAutocomplete]="auto" formControlName="state_id" type="text">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectState()"
        [displayWith]="getNameStates.bind(this)">
        <mat-option *ngFor="let state of (filteredStates | async) | filterState: form.get('country_id').value"
          [value]="state.id">
          {{state.name}}
        </mat-option>
      </mat-autocomplete>

      <!-- <mat-label>Departamento</mat-label>
          <mat-select placeholder="Seleccione Departamento..." formControlName="state_id"
              (selectionChange)="onSelectState()">
              <mat-option *ngFor="let state of states | filterState: form.get('country_id').value" [value]="state.id">
                  {{state.name}}
              </mat-option>
          </mat-select> -->

      <mat-error>
        <mvd-errors-messages [campo]="form.get('state_id').errors" [name]="'Departamento'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="cities" class="" appearance="outline" fxFlex="calc(16% + 6px)" fxFlex.lt-md="100">
      <mat-label>Ciudad</mat-label>
      <input matInput aria-label="Ciudad" [matAutocomplete]="autoCity" formControlName="city_id" type="text">
      <mat-autocomplete #autoCity="matAutocomplete" [displayWith]="getNameCities.bind(this)">
        <mat-option *ngFor="let city of (filteredCities | async) | filterCity: form.get('state_id').value"
          [value]="city.id">
          {{city.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('city_id').errors" [name]="'Ciudad'"></mvd-errors-messages>
      </mat-error>
      <button class="add-icon-input" type="button" matSuffix mat-icon-button aria-label="Add" (click)="addCity()">
        <mat-icon color="primary">add_circle</mat-icon>
      </button>
    </mat-form-field>


    <mat-form-field  class="" appearance="outline" fxFlex="calc(16% + 6px)"
      fxFlex.lt-md="100">
      <mat-label>Genero</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="gender">

        <mat-option *ngFor="let item of dataSelects.gender" [value]="item.value">
          {{ item.name }}
        </mat-option>

      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('gender').errors" [name]="'Genero'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="" appearance="outline" fxFlex="calc(16% + 6px)"
      fxFlex.lt-md="100">
      <mat-label>Ascendencia</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="breed_id">

        <mat-option *ngFor="let item of dataSelects.breed" [value]="item.value">
          {{ item.name }}
        </mat-option>

      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('breed_id').errors" [name]="'Raza'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>


    <mat-form-field *ngIf="medicaInstitutions" class="" appearance="outline" fxFlex="calc(16% + 6px)" fxFlex.lt-md="100">
      <mat-label>Institución Médica</mat-label>
      <input matInput aria-label="Institución Médica" [matAutocomplete]="auto" formControlName="medical_institution_id"
        type="text">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="getNameMedicalInst.bind(this)">
        <mat-option *ngFor="let item of filteredMedicaInstitutions | async" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-autocomplete>
      <button class="add-icon-input" type="button" matSuffix mat-icon-button aria-label="Add"
        (click)="addMedicaInstitutions(form.get('medical_institution_id'))">
        <mat-icon color="primary">add_circle</mat-icon>
      </button>
      <!-- <mat-label>Institución Médica</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="medical_institution_id">

              <mat-option *ngFor="let item of medicaInstitutions" [value]="item.id">
                  {{ item.name }}
              </mat-option>

          </mat-select>
          <button class="add-icon-input"  type="button" matSuffix mat-icon-button aria-label="Add" (click)="openDialog()" >
            <mat-icon color="primary">add_circle</mat-icon>
          </button> -->
      <mat-error>
        <mvd-errors-messages [campo]="form.get('medical_institution_id').errors" [name]="'Institución Médica'">
        </mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="doctors" class="" appearance="outline" fxFlex="calc(16% + 6px)" fxFlex.lt-md="100">
      <mat-label>Médico Tratante</mat-label>
      <input matInput aria-label="Médico Tratante" [matAutocomplete]="auto" formControlName="doctor_id" type="text">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="getNameDoctor.bind(this)">
        <mat-option *ngFor="let item of filteredDoctors | async" [value]="item.id">
          {{item.name}} {{ item.last_name }}
        </mat-option>
      </mat-autocomplete>
      <button class="add-icon-input" type="button" matSuffix mat-icon-button aria-label="Add"
        (click)="addDoctor(form.get('doctor_id'))">
        <mat-icon color="primary">add_circle</mat-icon>
      </button>
      <!-- <mat-select placeholder="Seleccione..." formControlName="doctor_id">

        <mat-option *ngFor="let item of doctors" [value]="item.id">
          {{ item.name }} {{ item.last_name }}
        </mat-option>

      </mat-select> -->
      <mat-error>
        <mvd-errors-messages [campo]="form.get('doctor_id').errors" [name]="'Doctor'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="doctors" class="" appearance="outline" fxFlex="calc(16% + 6px)" fxFlex.lt-md="100">
      <mat-label>Derivado por</mat-label>
      <input matInput aria-label="Derivado por" [matAutocomplete]="auto" formControlName="derived_by_id" type="text">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="getNameDoctor.bind(this)">
        <mat-option *ngFor="let item of filteredDoctorsDeriv | async" [value]="item.id">
          {{item.name}} {{ item.last_name }}
        </mat-option>
      </mat-autocomplete>
      <button class="add-icon-input" type="button" matSuffix mat-icon-button aria-label="Add"
        (click)="addDoctor(form.get('derived_by_id'))">
        <mat-icon color="primary">add_circle</mat-icon>
      </button>
      <!-- <mat-select placeholder="Seleccione..." formControlName="derived_by_id">

              <mat-option *ngFor="let item of doctors" [value]="item.id">
                  {{ item.name }} {{ item.last_name }}
              </mat-option>

          </mat-select> -->
      <mat-error>
        <mvd-errors-messages [campo]="form.get('derived_by_id').errors" [name]="'Derivado por'">
        </mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="medicaInstitutions" class="" appearance="outline" fxFlex="calc(16% + 6px)" fxFlex.lt-md="100">
      <mat-label>Institución de cirugía</mat-label>
      <input matInput aria-label="Institución de cirugía" [matAutocomplete]="auto"
        formControlName="surgery_institution_id" type="text">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="getNameMedicalInst.bind(this)">
        <mat-option *ngFor="let item of filteredSurgeryInstitution | async" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-autocomplete>
      <button class="add-icon-input" type="button" matSuffix mat-icon-button aria-label="Add"
        (click)="addMedicaInstitutions(form.get('surgery_institution_id'))">
        <mat-icon color="primary">add_circle</mat-icon>

      </button>
    </mat-form-field>

    <mat-form-field class="" appearance="outline" fxFlex="calc(16% + 6px)" fxFlex.lt-md="100">
      <mat-label>RegistroH</mat-label>
      <input formControlName="registroH" type="tel" matInput placeholder="RegistroH">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('registroH').errors" [name]="'RegistroH'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="" class="" appearance="outline" fxFlex="calc(16% + 6px)" fxFlex.lt-md="100">
      <mat-label>Proyecto Investigación</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="proyect_investigation_id">

        <mat-option [value]="">
          pendiente
        </mat-option>

      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('proyect_investigation_id').errors" [name]="'Proyecto Investigación'">
        </mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <div class="checkbox" appearance="outline" fxFlex="calc(16% + 6px)" fxFlex.lt-md="100" fxLayoutAlign="none start">
      <mat-checkbox formControlName="ashkenasi">Ashkenazi</mat-checkbox>
    </div>

    <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="1rem"
      fxLayoutAlign="start stretch">



      <!-- <mat-form-field class="" appearance="outline" *ngIf="form.get('dead').value" fxFlex="50" fxFlex.lt-md="100">
        <mat-label>Observaciones</mat-label>
        <textarea formControlName="dead_obs" matInput placeholder="Detalle, comentario o notas, relevantes sobre el fallecimiento"></textarea>
      </mat-form-field> -->
    </div>

  </form>
</ng-container>
