.checkbox{
    margin-bottom: 1rem;
}
.add-icon-input{
  margin-right: -12px;
  padding-bottom: 5px;
  .mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
    top: -3px!important;
    left: -1px!important;
    right: 0!important;
    bottom: 3px!important;

  }
}
