<mat-nav-list class="items-menu-principal">
    <ng-container *ngFor="let item of items">
        <ng-container  *ngIf="item?.subItem?.length >=1 ; else elseTemplate" > 
                <mat-accordion *mvdPermissions="item.permissions" >
                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{item.name}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <a *ngFor="let subi of item.subItem" mat-list-item [routerLink]="[subi.link]" routerLinkActive="router-link-active" >{{ subi.name }}</a>
                    </mat-expansion-panel>
                </mat-accordion>

        </ng-container>
        <ng-template #elseTemplate>
                <a *mvdPermissions="item.permissions" mat-list-item [routerLink]="[item.link]" routerLinkActive="router-link-active" >{{ item.name }}</a>
            
        </ng-template>
        
    </ng-container>
  
</mat-nav-list>