<mat-card class="card mat-elevation-z2 animate__animated animate__slideInRight">
    <mat-card-header>
        <mat-card-title>Ficha de Usuario</mat-card-title>
        <mat-card-subtitle *ngIf="permissionEdit as permission">
            Usuario: {{ permission.id }} /
            Nombre: {{ permission.name }}
        </mat-card-subtitle>

        <div fxLayoutAlign="end center">
            <button class="btn-submit" mat-stroked-button color="primary"
                (click)="back()">Volver</button>
            <button [disabled]="!form.valid" class="btn-submit" mat-flat-button color="primary"
                (click)="onSubmit()">Guardar</button>
        </div>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="form" fxFlex="100" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline" fxFlex="100" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" placeholder="Nombre">
                <mat-error>
                    <mvd-errors-messages [campo]="form.get('name').errors" [name]="'Nombre'">
                    </mvd-errors-messages>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="description" placeholder="Descripción">
                <mat-error>
                    <mvd-errors-messages [campo]="form.get('description').errors" [name]="'Descripción'">
                    </mvd-errors-messages>
                </mat-error>
            </mat-form-field>



        </form>


    </mat-card-content>

    <span class="border"></span>
</mat-card>
