<div class="content-group-form">
  <ng-container *ngIf="!edit && (sampleOnEdit | async).storage_sample as  storage_sample ; else add">
    <div fxFlex="100" fxLayaut="row wrap" fxLayoutGap="5px">
      <h2>
        Muestra Almacenada
      </h2>
      <p><strong>Ubicación:</strong> {{ storage_sample.location.code }} - {{ storage_sample.location.description }}</p>
      <p><strong>Rack:</strong> {{ storage_sample.rack }}</p>
      <p><strong>Caja:</strong> {{ storage_sample.box }}</p>
      <p><strong>Posición:</strong> {{ storage_sample.position }}</p>
      <button *mvdPermissions="['sample.create','sample.update']" class="btn-submit" mat-flat-button color="primary"
        (click)="edit=true">Cambiar</button>

    </div>

  </ng-container>

  <ng-template #add>
    <div fxFlex="100" fxLayout="column">
      <div fxFlex="100" fxLayout="row" >
        <form [formGroup]="form" fxFlex="100" fxLayout="row wrap"  fxLayoutGap="5px">
          <mat-form-field class="" appearance="outline" fxFlex="20" fxFlex.lt-md="100" fxFlexOffset.lt-md="0">
            <mat-label>Ubicación</mat-label>
            <mat-select placeholder="Seleccione..." formControlName="location_id">
              <ng-container *ngIf="locations ">
                <mat-option *ngFor="let item of locations" [value]="item.id">
                  {{ item.code }} - {{ item.description }}
                </mat-option>
              </ng-container>
            </mat-select>
            <mat-error>
              <mvd-errors-messages [campo]="form.get('location_id').errors" [name]="'Ubicación'">
              </mvd-errors-messages>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="" appearance="outline" fxFlex="10" fxFlex.lt-md="100" fxFlexOffset.lt-md="0">
            <mat-label>Rack</mat-label>
            <mat-select placeholder="Seleccione..." formControlName="rack" (selectionChange)="racksChanges($event)">
              <ng-container *ngIf="racks.length >= 1 ">
                <mat-option *ngFor="let item of racks" [value]="item">
                  {{ item }}
                </mat-option>
              </ng-container>
            </mat-select>
            <mat-error>
              <mvd-errors-messages [campo]="form.get('rack').errors" [name]="'Rack'">
              </mvd-errors-messages>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="" appearance="outline" fxFlex="10" fxFlex.lt-md="100" fxFlexOffset.lt-md="0">
            <mat-label>Caja</mat-label>
            <mat-select placeholder="Seleccione..." formControlName="box" (selectionChange)="boxesChanges($event)">
              <ng-container *ngIf="boxes.length >= 1 ">
                <mat-option *ngFor="let item of boxes" [value]="item">
                  {{ item }}
                </mat-option>
              </ng-container>
            </mat-select>
            <mat-error>
              <mvd-errors-messages [campo]="form.get('box').errors" [name]="'Caja'">
              </mvd-errors-messages>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="" appearance="outline" fxFlex="10" fxFlex.lt-md="100" fxFlexOffset.lt-md="0">
            <mat-label>Posición</mat-label>
            <mat-select placeholder="Seleccione..." formControlName="position" (selectionChange)="positionChange($event)">
              <ng-container *ngIf="positions.length >= 1 ">
                <mat-option *ngFor="let item of positions" [value]="item">
                  {{ item }}
                </mat-option>
              </ng-container>
            </mat-select>
            <mat-error>
              <mvd-errors-messages [campo]="form.get('position').errors" [name]="'Posición'">
              </mvd-errors-messages>
            </mat-error>
          </mat-form-field>


        </form>

      </div>
      <div fxFlex="100" fxLayout="row" >
        <button *mvdPermissions="['sample.create','sample.update']" class="btn-submit" color="primary"
          mat-stroked-button (click)="edit=false">Cerrar</button>
      </div>

    </div>

  </ng-template>
</div>

<div class="table content-group-form" *ngIf="sampleOnEdit | async as sampleOnEdit" >
  <h2>Muestras relacionadas</h2>

  <mvd-related-samples [sampleOnEdit]="sampleOnEdit"></mvd-related-samples>
</div>
