.content-group-form{
  width: 100%!important;
  position: relative!important;

  // display: initial!important;
}
.table{
  margin-top: 2rem!important;
  padding: 1rem!important;
}
.form{
  width: 100%!important;
  // float: left;
  display: block!important;

}
.btn{
  width: 100%!important;
  display: block!important;

  // display: grid!important;

}
