<mat-card class="card mat-elevation-z16 animate__animated animate__slideInRight" >
    <mat-card-header>
        <mat-card-title>Pacientes</mat-card-title>
        <mat-card-subtitle>Administrar pacientes</mat-card-subtitle>

    </mat-card-header>

    <div class="header-table">
        <mvd-input-search (changeSearch)="search($event)" [noteFilterBy]="'Filtro multi criterios, solo deje un espacio en blanco entre palabras o fragmentos y podrá mezclar criterios de distintas columnas o incluso datos que no se encuantran visibles como por ej institución médica, teléfono, email, etc. '" ></mvd-input-search>
        <div class="actions">

            <button *mvdPermissions="['patient.create']" mat-flat-button [routerLink]="['/pacientes/paciente']"  color="primary">
                <mat-icon class="material-icons-round">add</mat-icon><span>Crear</span>
            </button>
            <!-- <button mat-flat-button color="" class="btn-simple">
                <mat-icon class="material-icons-round">print</mat-icon> Imprimir
            </button> -->
            <!-- <button mat-flat-button color="" disabled class="btn-simple">
                <mat-icon class="material-icons-round">save_alt</mat-icon> Exportar
            </button> -->

        </div>
    </div>

    <mat-card-content>
        <mvd-data-table [columns]="columns" [dataSource]="dataSource | async" (actionChange)="itemAction($event)" ></mvd-data-table>
        <mat-paginator (page)="paginatorChange($event)" [length]="totalResut | async" [pageSize]="perPage" [pageSizeOptions]="[20,50,100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>

    <span class="border"></span>
</mat-card>
