h3{
    font-weight: 500;
}


.content-column-checkbox{
    .checkbox{
        padding: 10px;
        padding-bottom: 27px;
    }
}
.content-groups{
    width: 100%;
}
.bg-row{
    background-color: #E1F5FE;
}
.chip-antecedentes{
    min-height: 20px!important;
    font-weight: 400;
    font-size: 12px;
}
.btn{
    height: 35px !important;
    margin-top:4px
}
.add-icon{
  // margin-right: -12px;
  // padding-bottom: 5px;
  // .mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
  //   top: -3px!important;
  //   left: -1px!important;
  //   right: 0!important;
  //   bottom: 3px!important;

  // }
}
.buttons-actions{
  background-color: transparent;
  color: #9e9e9e;
  line-height: 18px;
  float: right;
  // padding: 5px!important;
  &:hover{
      color: var(--color-primary)
  }
  .material-icons{
      font-size: 18px!important;
  }
  .mat-icon{
      height: inherit!important;
      width: inherit!important;
  }
}
.antecedents-list{
  height: 25px;
  font-size: 10pt;
  align-items: center;
  display: flex;
  .text-list{
    width: 87%;
  }
  .text-list-antecedente{
    width: 250px;
  }
  .btn-list{
    width: 10%;
  }
}
.pl-5{
  padding-left: 5%;
}
.pb-0{
  padding-bottom: 0!important;
}
.card{
  // padding-top: 1rem;
  margin-bottom: 2rem;
}
