<form [formGroup]="form" *ngIf="form" fxFlex="100" fxLayout="column" fxLayoutGap="6px" fxLayoutAlign="start start">
  <div class="content-groups" fxFlex="100" fxLayout="column" fxLayoutGap="6px"
    *ngIf="dataSelects | async as dataSelects">
    <div class="content-group-form" fxFlex="100" fxLayout="row wrap" fxLayoutGap="6px">
      <h3 fxLayout="row" fxFlex="100">Factores de riesgo</h3>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="imc" fxFlex="20" class="checkbox">IMC</mat-checkbox>

        <mat-form-field class="" *ngIf="form.get('imc').value" fxFlex="10" appearance="outline" fxFlex.lt-md="100">
          <mat-label>Talla en m</mat-label>
          <input formControlName="imc_talla" matInput placeholder="Altura" />
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('imc').value" fxFlex="10" appearance="outline" fxFlex.lt-md="100">
          <mat-label>Peso en Kg</mat-label>
          <input formControlName="imc_peso" matInput placeholder="Peso" />
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('imc').value" fxFlex="10" appearance="outline" fxFlex.lt-md="100">
          <mat-label>IMC</mat-label>
          <input formControlName="imc_imc" matInput placeholder="IMC" readonly />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="fumador" fxFlex="20" class="checkbox">Fumador
        </mat-checkbox>

        <mat-radio-group color="primary" *ngIf="form.get('fumador').value" formControlName="fumador_activo"
          align="'start'">
          <mat-radio-button class="checkbox" [value]="1">Actual</mat-radio-button>
          <mat-radio-button class="checkbox" [value]="0">Pasado</mat-radio-button>
        </mat-radio-group>

        <mat-form-field *ngIf="form.get('fumador').value" class="" appearance="outline" fxFlex="20%">
          <mat-label>Cantidad de Cigarrillos</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="fumador_cant">
            <mat-option *ngFor="let item of dataSelects.fumador_cant" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="form.get('fumador').value" class="" appearance="outline" fxFlex="20%">
          <mat-label>Período</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="fumador_periodo">
            <mat-option *ngFor="let item of dataSelects.vicio_periodo" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="alcoholista" fxFlex="20" class="checkbox">Alcoholista
        </mat-checkbox>

        <mat-radio-group color="primary" *ngIf="form.get('alcoholista').value" formControlName="alcoholista_activo"
          align="'start'">
          <mat-radio-button class="checkbox" [value]="1">Actual</mat-radio-button>
          <mat-radio-button class="checkbox" [value]="0">Pasado</mat-radio-button>
        </mat-radio-group>

        <mat-form-field *ngIf="form.get('alcoholista').value" class="" appearance="outline" fxFlex="20%">
          <mat-label>Litros Diarios</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="alcoholista_cant">
            <mat-option *ngFor="let item of dataSelects.alcoholista_cant" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="form.get('alcoholista').value" class="" appearance="outline" fxFlex="20%">
          <mat-label>Período</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="alcoholista_periodo">
            <mat-option *ngFor="let item of dataSelects.vicio_periodo" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="drogas" fxFlex="20" class="checkbox">Drogas
        </mat-checkbox>

        <mat-radio-group color="primary" *ngIf="form.get('drogas').value" formControlName="drogas_activo"
          align="'start'">
          <mat-radio-button class="checkbox" [value]="1">Actual</mat-radio-button>
          <mat-radio-button class="checkbox" [value]="0">Pasado</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="" *ngIf="form.get('drogas').value" fxFlex="20" appearance="outline" fxFlex.lt-md="100">
          <mat-label>Tipo de droga/s</mat-label>
          <input formControlName="drogas_tipo" type="text" matInput placeholder="Tipo de droga/s" />
        </mat-form-field>

        <mat-form-field *ngIf="form.get('drogas').value" class="" appearance="outline" fxFlex="20%">
          <mat-label>Período</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="drogas_periodo">
            <mat-option *ngFor="let item of dataSelects.vicio_periodo" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="rt" fxFlex="20" class="checkbox">Recibió RT previamente
        </mat-checkbox>

        <mat-form-field class="" *ngIf="form.get('rt').value" fxFlex="40" appearance="outline" fxFlex.lt-md="100">
          <mat-label>En donde</mat-label>
          <input formControlName="rt_donde" matInput placeholder="En Donde" />
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('rt').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
          <mat-label>Fecha</mat-label>
          <input formControlName="rt_date" matInput placeholder="Fecha" [matDatepicker]="picker" autocomplete="off"
            (click)="picker.open()" (dateChange)="formatDate($event, 'rt_date')" />

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="anticonceptivos" fxFlex="20" class="checkbox">Utilizó
          anticonceptívos orales</mat-checkbox>

        <mat-form-field *ngIf="form.get('anticonceptivos').value" class="" appearance="outline" fxFlex="20%">
          <mat-label>Período</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="anticonceptivos_periodo">
            <mat-option *ngFor="let item of dataSelects.anticonceptivos_periodo" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="amamantar" fxFlex="20" class="checkbox">Dió de amamantar
        </mat-checkbox>

        <mat-form-field *ngIf="form.get('amamantar').value" class="" appearance="outline" fxFlex="20%">
          <mat-label>Período</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="amamantar_periodo">
            <mat-option *ngFor="let item of dataSelects.amamantar_periodo" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="hormonas" fxFlex="20" class="checkbox">Realizó TRH
        </mat-checkbox>

        <mat-form-field *ngIf="form.get('hormonas').value" class="" appearance="outline" fxFlex="20%">
          <mat-label>Período</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="hormonas_periodo">
            <mat-option *ngFor="let item of dataSelects.hormonas_periodo" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('hormonas').value" fxFlex="40" appearance="outline" fxFlex.lt-md="100">
          <mat-label>Tipo TRH</mat-label>
          <input formControlName="tipo_trh" matInput placeholder="Tipo TRH" />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-form-field class="" fxFlex="16" appearance="outline" fxFlex.lt-md="100">
          <mat-label>Edad menarca</mat-label>
          <input formControlName="edad_menarca" matInput placeholder="Edad menarca" />
        </mat-form-field>

        <mat-form-field class="" fxFlex="16" appearance="outline" fxFlex.lt-md="100">
          <mat-label>Edad primer embarazo</mat-label>
          <input formControlName="edad_primer_emb" matInput placeholder="Edad primer embarazo" />
        </mat-form-field>

        <mat-form-field class="" fxFlex="16" appearance="outline" fxFlex.lt-md="100">
          <mat-label>Edad menopausia</mat-label>
          <input formControlName="menopausia_edad" matInput placeholder="Edad menopausia" />
        </mat-form-field>

        <mat-checkbox color="primary" formControlName="menopausia_quirurgica" fxFlex="10" class="checkbox">
          Menopausia Quirúrgica</mat-checkbox>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="ambientales" fxFlex="20" class="checkbox">Factores de riesgo
          ambientales</mat-checkbox>

        <mat-form-field class="" *ngIf="form.get('ambientales').value" fxFlex="40" appearance="outline"
          fxFlex.lt-md="100">
          <mat-label>Cuales</mat-label>
          <input formControlName="ambientales_cuales" matInput placeholder="Factores ambientales" />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-form-field class="" fxFlex="40" appearance="outline" fxFlex.lt-md="100">
          <mat-label>Factor de riesgo especifico</mat-label>
          <input formControlName="factor_r_especifico" matInput placeholder="Factor de riesgo especifico" />
        </mat-form-field>
      </div>
    </div>
    <div class="content-group-form" fxFlex="100" fxLayout="row wrap" fxLayoutGap="6px">
      <h3 fxLayout="row" fxFlex="100">Estudios de Screening</h3>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="mamografia" fxFlex="20" class="checkbox">Mamografía / Ecografía
        </mat-checkbox>

        <mat-form-field *ngIf="form.get('mamografia').value" class="" appearance="outline" fxFlex="22">
          <mat-label>Frecuencia</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="mamografia_frecuencia">
            <mat-option *ngFor="let item of dataSelects.mamografia_frecuencia" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('mamografia_frecuencia').value === 'otros'" fxFlex="30"
          appearance="outline" fxFlex.lt-md="100">
          <mat-label>Indique otros</mat-label>
          <input formControlName="mamografia_otros" matInput placeholder="Indique otros" />
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('mamografia').value" appearance="outline" fxFlex="16"
          fxFlex.lt-md="100">
          <mat-label>Fecha última</mat-label>
          <input formControlName="mamografia_date_ultima" matInput placeholder="Fecha" [matDatepicker]="picker"
            (dateChange)="formatDate($event, 'mamografia_date_ultima')" autocomplete="off" (click)="picker.open()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="rm_mamaria" fxFlex="20" class="checkbox">RM Mamaria
        </mat-checkbox>

        <mat-form-field *ngIf="form.get('rm_mamaria').value" class="" appearance="outline" fxFlex="22">
          <mat-label>Frecuencia</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="rm_mamaria_frecuencia">
            <mat-option *ngFor="let item of dataSelects.rm_mamaria_frecuencia" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('rm_mamaria_frecuencia').value === 'otros'" fxFlex="30"
          appearance="outline" fxFlex.lt-md="100">
          <mat-label>Indique otros</mat-label>
          <input formControlName="rm_mamaria_otros" matInput placeholder="Indique otros" />
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('rm_mamaria').value" appearance="outline" fxFlex="16"
          fxFlex.lt-md="100">
          <mat-label>Fecha última</mat-label>
          <input formControlName="rm_mamaria_date_ultima" matInput placeholder="Fecha" [matDatepicker]="picker"
            (dateChange)="formatDate($event, 'rm_mamaria_date_ultima')" autocomplete="off" (click)="picker.open()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="pap" fxFlex="20" class="checkbox">Se realiza PAP
        </mat-checkbox>

        <mat-form-field *ngIf="form.get('pap').value" class="" appearance="outline" fxFlex="22">
          <mat-label>Frecuencia</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="pap_frecuencia">
            <mat-option *ngFor="let item of dataSelects.pap_frecuencia" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('pap_frecuencia').value === 'otros'" fxFlex="30" appearance="outline"
          fxFlex.lt-md="100">
          <mat-label>Indique otros</mat-label>
          <input formControlName="pap_otros" matInput placeholder="Indique otros" />
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('pap').value" appearance="outline" fxFlex="16" fxFlex.lt-md="100">
          <mat-label>Fecha última</mat-label>
          <input formControlName="pap_date_ultima" matInput placeholder="Fecha" [matDatepicker]="picker"
            autocomplete="off" (click)="picker.open()" (dateChange)="formatDate($event, 'pap_date_ultima')" />

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="fecatest" fxFlex="20" class="checkbox">Fecatest</mat-checkbox>

        <mat-form-field *ngIf="form.get('fecatest').value" class="" appearance="outline" fxFlex="22">
          <mat-label>Frecuencia</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="fecatest_frecuencia">
            <mat-option *ngFor="let item of dataSelects.fecatest_frecuencia" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('fecatest_frecuencia').value === 'otros'" fxFlex="30"
          appearance="outline" fxFlex.lt-md="100">
          <mat-label>Indique otros</mat-label>
          <input formControlName="fecatest_otros" matInput placeholder="Indique otros" />
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('fecatest').value" appearance="outline" fxFlex="16" fxFlex.lt-md="100">
          <mat-label>Fecha última</mat-label>
          <input formControlName="fecatest_date_ultima" matInput placeholder="Fecha" [matDatepicker]="picker"
            (dateChange)="formatDate($event, 'fecatest_date_ultima')" autocomplete="off" (click)="picker.open()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="fibrocolonoscopia" fxFlex="20" class="checkbox">Fibrocolonoscopía
        </mat-checkbox>

        <mat-form-field *ngIf="form.get('fibrocolonoscopia').value" class="" appearance="outline" fxFlex="22">
          <mat-label>Frecuencia</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="fibrocolonoscopia_frecuencia">
            <mat-option *ngFor="let item of dataSelects.fibrocolonoscopia_frecuencia" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('fibrocolonoscopia_frecuencia').value === 'otros'" fxFlex="30"
          appearance="outline" fxFlex.lt-md="100">
          <mat-label>Indique otros</mat-label>
          <input formControlName="fibrocolonoscopia_otros" matInput placeholder="Indique otros" />
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('fibrocolonoscopia').value" appearance="outline" fxFlex="16"
          fxFlex.lt-md="100">
          <mat-label>Fecha última</mat-label>
          <input formControlName="fibrocolonoscopia_date_ultima" matInput placeholder="Fecha" [matDatepicker]="picker"
            (dateChange)="formatDate($event, 'fibrocolonoscopia_date_ultima')" autocomplete="off"
            (click)="picker.open()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="fibrogastroscopia" fxFlex="20" class="checkbox">Fibrogastroscopía
        </mat-checkbox>

        <mat-form-field *ngIf="form.get('fibrogastroscopia').value" class="" appearance="outline" fxFlex="22">
          <mat-label>Frecuencia</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="fibrogastroscopia_frecuencia">
            <mat-option *ngFor="let item of dataSelects.fibrogastroscopia_frecuencia" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('fibrogastroscopia_frecuencia').value === 'otros'" fxFlex="30"
          appearance="outline" fxFlex.lt-md="100">
          <mat-label>Indique otros</mat-label>
          <input formControlName="fibrogastroscopia_otros" matInput placeholder="Indique otros" />
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('fibrogastroscopia').value" appearance="outline" fxFlex="16"
          fxFlex.lt-md="100">
          <mat-label>Fecha última</mat-label>
          <input formControlName="fibrogastroscopia_date_ultima" matInput placeholder="Fecha" [matDatepicker]="picker"
            (dateChange)="formatDate($event, 'fibrogastroscopia_date_ultima')" autocomplete="off"
            (click)="picker.open()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="psa" fxFlex="25" class="checkbox">PSA</mat-checkbox>

        <mat-form-field *ngIf="form.get('psa').value" class="" appearance="outline" fxFlex="22">
          <mat-label>Frecuencia</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="psa_frecuencia">
            <mat-option *ngFor="let item of dataSelects.psa_frecuencia" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('psa_frecuencia').value === 'otros'" fxFlex="30" appearance="outline"
          fxFlex.lt-md="100">
          <mat-label>Indique otros</mat-label>
          <input formControlName="psa_otros" matInput placeholder="Indique otros" />
        </mat-form-field>

        <div  fxFlex="16" fxFlex.lt-md="100" fxLayoutGap="5px">

          <mat-form-field class="" *ngIf="form.get('psa').value" appearance="outline" fxFlex="50" >
            <mat-label>Fecha última</mat-label>
            <input formControlName="psa_date_ultima" matInput placeholder="Fecha" [matDatepicker]="picker"
              (dateChange)="formatDate($event, 'psa_date_ultima')" autocomplete="off" (click)="picker.open()" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="" *ngIf="form.get('psa').value" fxFlex="50" appearance="outline">
            <mat-label>Resultado</mat-label>
            <input formControlName="psa_result" matInput placeholder="Resultado de último" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="content-group-form" fxFlex="100" fxLayout="row wrap" fxLayoutGap="6px">
      <h3 fxLayout="row" fxFlex="100">Antecedentes</h3>
      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start center">
        <mat-checkbox color="primary" formControlName="antecedente" fxFlex="100" class="checkbox">Antecedentes de cancer
          en Flia.</mat-checkbox>
        <div fxFlex="100" fxLayout="row wrap" class="pl-5">
          <div fxFlex="100">
            <mat-checkbox color="primary" *ngIf="form.get('antecedente').value" formControlName="antecedente_indirectos"
              fxFlex="20" class="checkbox">Indirectos
            </mat-checkbox>

            <mat-form-field *ngIf="form.get('antecedente_indirectos').value" fxFlex="70" appearance="outline"
              fxFlex.lt-md="100">
              <mat-label>Tipo Parentesco Indirectos</mat-label>
              <input formControlName="antecedente_indirectos_tipo" matInput
                placeholder="Tipos Antecedentes Indirectos" />
            </mat-form-field>
          </div>
          <div fxFlex="100" fxLayout="row wrap">
            <mat-checkbox color="primary" *ngIf="form.get('antecedente').value" formControlName="antecedente_directo"
              fxFlex="100" class="checkbox pb-0">Directos</mat-checkbox>
            <form [formGroup]="formAntecedentsFamily" class="card pl-5" fxLayout="row wrap" fxFlex="40"
              fxLayoutGap="1rem" fxLayoutAlign="start stretch">
              <ng-container *ngIf="form.get('antecedente_directo').value">
                <ng-container *ngIf="
                    form.get('antecedente_directo_tipo').value?.length >= 1
                  ">
                  <p class="antecedents-list" fxFlex="100" *ngFor="let antecedent of parentesco">
                    <span class="text-list">{{ antecedent }}</span>
                    <span class="btn-list">
                      <button mat-icon-button type="button" class="buttons-actions"
                        (click)="removeParentesco(antecedent)" matTooltip="Eliminar" matTooltipClass="tips">
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                    </span>
                  </p>
                </ng-container>
                <mat-form-field *ngIf="form.get('antecedente').value" class="" appearance="outline" fxFlex="35">
                  <mat-label>Parentesco</mat-label>
                  <mat-select placeholder="Seleccione..." formControlName="parentesco">
                    <mat-option *ngFor="let item of dataSelects.antecedentes_dir_tipos" [value]="item">
                      {{ item }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="form.get('antecedente').value" class="" appearance="outline" fxFlex="35">
                  <mat-label>Topografía</mat-label>
                  <mat-select placeholder="Seleccione..." formControlName="topography">
                    <mat-option *ngFor="let item of topographies | async" [value]="item.name">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <span fxFlex="15" *ngIf="form.get('antecedente').value">
                  <button class="add-icon" type="button" mat-icon-button aria-label="Add" (click)="submitParentesco()">
                    <mat-icon color="primary">add_circle</mat-icon>
                  </button>
                </span>
              </ng-container>
            </form>
          </div>
        </div>
      </div>

      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="1rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="anterior" fxFlex="100" class="checkbox pb-0">Cancer diagnosticado
          anteriormente</mat-checkbox>
        <form [formGroup]="formAntecedents" *ngIf="form.get('anterior').value" fxLayout="row wrap" class="card pl-5"
          fxFlex="40" fxLayoutGap="1rem" fxLayoutAlign="start stretch">
          <ng-container *ngIf="patientEdit?.cancer_patient_antecedents">
            <p class="antecedents-list" fxFlex="100" *ngFor="let antecedent of patientEdit.cancer_patient_antecedents">
              <span class="text-list">Topografía {{ antecedent.topography.name }}, edad
                {{ antecedent.edad }}.</span>
              <span class="btn-list">
                <button mat-icon-button type="button" class="buttons-actions" (click)="removeAntecedent(antecedent.id)"
                  matTooltip="Eliminar" matTooltipClass="tips">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </span>
            </p>
          </ng-container>

          <mat-form-field *ngIf="form.get('anterior').value" class="" appearance="outline" fxFlex="50">
            <mat-label>Topografía</mat-label>
            <mat-select placeholder="Seleccione..." formControlName="topography_id">
              <mat-option *ngFor="let item of topographies | async" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="" *ngIf="form.get('anterior').value" fxFlex="21" appearance="outline"
            fxFlex.lt-md="100">
            <mat-label>Edad</mat-label>
            <input formControlName="edad" matInput placeholder="Edad" />
          </mat-form-field>
          <span fxFlex="10" *ngIf="form.get('anterior').value">
            <button class="add-icon" type="button" mat-icon-button aria-label="Add" (click)="submitAntecedent()">
              <mat-icon color="primary">add_circle</mat-icon>
            </button>
          </span>
        </form>
      </div>
    </div>
  </div>
</form>
