<mat-card class="card mat-elevation-z16 animate__animated animate__slideInRight" >

    <mat-card-header>
        <mat-card-title>Roles</mat-card-title>
        <mat-card-subtitle>Administrar Roles</mat-card-subtitle>

    </mat-card-header>
    <mvd-roles-table></mvd-roles-table>
    <span class="border"></span>

</mat-card>