
<form [formGroup]="form" *ngIf="form" fxFlex="100" fxLayoutGap="6px" fxLayout="row wrap" fxLayoutAlign="start center">

  <!-- gorop -->
  <div class="content-groups" fxFlex="100" fxLayout="column" fxLayoutGap="6px">

    <div class="content-group-form" fxFlex="100" fxLayout="row wrap" fxLayoutGap="6px">
      <h3 fxLayout="row" fxFlex="100">Quimioprofilaxis</h3>

      <!-- ROW -->
      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="qui" fxFlex="20" class="checkbox">Quimioprofilaxis
        </mat-checkbox>

        <mat-form-field class="" *ngIf="form.get('qui').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
          <mat-label>Fecha</mat-label>
          <input formControlName="qui_date" matInput placeholder="Fecha" [matDatepicker]="picker"
            (dateChange)="formatDate($event, 'qui_date')" autocomplete="off" (click)="picker.open()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('qui').value" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
          <mat-label>Observaciones</mat-label>
          <input formControlName="qui_obs" matInput type="text" placeholder="Observaciones" />
          <mat-error>
            <mvd-errors-messages [campo]="form.get('qui_obs').errors" [name]="'Observaciones'"></mvd-errors-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <!--  -->



    </div>

  </div>
<!-- End Gorup -->

</form>
