<ng-container *ngIf="dataSource; else loading">
    <table mat-table [dataSource]=" dataSource">

        <ng-container *ngFor="let column of columns" [matColumnDef]="column.col">
            <th [ngClass]="column.class" mat-header-cell *matHeaderCellDef> {{ column.title }} </th>

            <ng-container>

                <ng-container *ngIf="column['col'] !== 'color'
                && column['col'] !== 'image'
                && column['type'] !== 'boolean'
                && column['type'] !== 'longText'
                && column['type'] !== 'consentimiento'
                && column['type'] !== 'genesCount'">
                    <td mat-cell *matCellDef="let element" [ngClass]="{'disabled': element.status_id === 2}" > <span [class]="element[column.class]" [ngClass]="[ element[column.classCell] ? element[column.classCell] : '']"  >{{ element[column.col] | dynamicPipe: column.pipe }} </span> </td>
                </ng-container>



                <ng-container *ngIf="column['col'] === 'image'">
                    <td mat-cell *matCellDef="let element">
                        <img class="image-preview" [src]="element[column.col] || '../../../../assets/images/no-image.svg'" [alt]="element[column.col]">
                    </td>
                </ng-container>

                <ng-container *ngIf="column['type'] === 'boolean'">
                    <td mat-cell *matCellDef="let element;let i= index">
                        <span class="content-boolean">

                            <mat-icon color="primary" *ngIf="element[column.col] === 1" class="material-icons-round">check</mat-icon>
                        </span>
                    </td>
                </ng-container>

                <ng-container *ngIf="column['type'] === 'longText'">
                  <td mat-cell *matCellDef="let element" [ngClass]="{'disabled': element.status_id === 2}" > <span [class]="element[column.class]">{{ element[column.col] | truncateText:50  }} </span> </td>

                </ng-container>

                <ng-container *ngIf="column['type'] === 'genesCount'">
                  <td mat-cell *matCellDef="let element"  >
                    <span *ngIf="element[column.col]?.length >= 1" class="gensCount">{{ element[column.col]?.length }} Genes</span>
                  </td>

                </ng-container>

                <ng-container *ngIf="column['type'] === 'consentimiento'">
                  <td mat-cell *matCellDef="let element;let i= index">
                      <span class="document"  *ngIf="element[column.col] === 1">
                          Consentimiento
                          <!-- <mat-icon class="material-icons-round">task</mat-icon> -->
                      </span>
                  </td>
                </ng-container>

            </ng-container>

        </ng-container>

        <ng-container *ngIf="actions" [matColumnDef]="'actions'" >
            <th mat-header-cell *matHeaderCellDef [ngClass]="widthActions"> Acciones </th>
            <td mat-cell *matCellDef="let element">

                <button *ngIf="btnClone" mat-button
                class="buttons-actions"
                (click)="cloneItem(element)"
                matTooltip="Clonar"
                matTooltipClass="tips">
                    <mat-icon>copy_all</mat-icon>
                </button>

                <button *ngIf="btnPreview" mat-button
                class="buttons-actions"
                (click)="preview(element)"
                matTooltip="Previsualizar"
                matTooltipClass="tips">
                    <mat-icon>visibility</mat-icon>
                </button>

                <button *ngIf="btnDownload" mat-button
                class="buttons-actions"
                (click)="downloadItem(element)"
                matTooltip="Descargar"
                matTooltipClass="tips">
                    <mat-icon>file_download</mat-icon>
                </button>

               <button *ngIf="page === 'trace'" mat-button
                class="buttons-actions"
                (click)="detail(element)"
                matTooltip="Ver detalles"
                matTooltipClass="tips">
                    <mat-icon>visibility</mat-icon>
                </button>

                <button *ngIf="btnEdit && page !== 'tube' && page !=='trace'" mat-button class="buttons-actions"
                (click)="editItem(element)"
                matTooltip="Editar"
                matTooltipClass="tips"
                matTooltipPosition="after">
                    <mat-icon >menu_open</mat-icon>
                </button>

                <button  *ngIf="btnDelete && page !== 'tube' && page !=='trace'" mat-button
                class="buttons-actions"
                (click)="deleteItem(element,'Será eliminado')"
                matTooltip="Eliminar"
                matTooltipClass="tips">
                    <mat-icon>delete_outline</mat-icon>
                </button>


            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-container>

<ng-template #loading>
    <div class="div-content">
        <div class="loading"><div></div><div></div><div></div></div>

    </div>
</ng-template>




