.buttons-actions{
    background-color: transparent;
    color: #9e9e9e;
    padding: 5px!important;
    margin: 0px 3px;
    &:hover{
        color: var(--color-primary)
    }
    .material-icons{
        font-size: 18px!important;
    }
    .mat-icon{
        height: inherit!important;
        width: inherit!important;
    }
}

.publish{
    color: var(--color-success);
}

.mat-button{
    min-width: 0px!important;
    line-height: 16px!important;
}
.tips{
    background-color: rgb(241, 241, 241)!important;
    color: black!important;
}
.color-preview{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    color: white!important;
    text-align: center;
    .mat-icon{
    }

}
.image-preview{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    margin-top: 5px;
}

.chip-red{
    // width: 50px!important;
    border-radius: 10px;
    color: white;
    background-color: rgb(235, 0, 0);
    padding: 2px 8px;
}
.text-red{
    // width: 50px!important;
    border-radius: 10px;
    color:#eb0000;
    background-color: var(--background-gral);
    padding: 2px 8px;
}
.disabled{
    opacity: 0.4;
    // background-color: #9e9e9e;
}
.content-boolean{
    align-items: center;
    align-content: center;
    .mat-icon{
        font-size: 16px!important;
        width: 16px !important;
        height: 16px !important;
        margin-top: 5px;
    }
}

.document{
  width: 90px;
  align-items: center;
  align-content: center;
  background-color: var(--color-success);
  color: white;
  padding: 3px 10px;
  border-radius: 50px;
  .mat-icon{
    margin-left: 5px;
  }
}
.success-word{
  width: 90px;
  align-items: center;
  align-content: center;
  background-color: rgba(0, 197, 76, 0.315);
  color: #277746;
  padding: 3px 10px;
  border-radius: 50px;
  .mat-icon{
    margin-left: 5px;
  }
}

.warn-word{
  width: 90px;
  align-items: center;
  align-content: center;
  background-color: rgba(253, 167, 6, 0.315);
  color: rgb(131, 86, 2);
  padding: 3px 10px;
  border-radius: 50px;
  .mat-icon{
    margin-left: 5px;
  }
}

.danger-word{
  width: 90px;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 0, 0, 0.315);
  color: rgb(134, 18, 2);
  padding: 3px 10px;
  border-radius: 50px;
  .mat-icon{
    margin-left: 5px;
  }
}

.gensCount{
  color: var(--color-success);
  // font-weight: 600;
}
