h3 {
}

.content-column-checkbox {
  .checkbox {
    padding: 10px;
    padding-bottom: 27px;
  }
}
.content-groups {
  width: 100%;
}

mvd-add-family{
  margin-top: 1rem;
}
.content-group-form{
  // align-items: center!important;

}
