<div fxFlex="100" fxLayout="row wrap" fxLayoutGap="1rem">

  <div class="content-group-form" fxFlex="49" fxLayout="row wrap" fxLayoutGap="6px">
    <div fxLayout="row" fxFlex="100" fxLayout="row wrap" fxLayoutGap="6px" fxLayoutAlign="start strech">

      <h3 fxLayout="row" fxFlex="50">Datos de la familia</h3>

      <mvd-select-family fxFlex="40" *ngIf="patient" [patient]="patient"></mvd-select-family>
    </div>

    <mvd-add-family  fxFlex="100"></mvd-add-family>


  </div>
  <div  *ngIf="(families$ | async)"  class="content-group-form" fxFlex="49" fxLayout="row wrap" fxLayoutGap="6px">
    <div fxLayout="row" fxFlex="100" fxLayout="row wrap" fxLayoutGap="6px"  fxLayoutAlign="start strech">
      <h3 fxLayout="row" fxFlex="50">Integrantes de la familia</h3>

      <mvd-add-member fxFlex="40"></mvd-add-member>

    </div>


    <mvd-members fxFlex="100"></mvd-members>
  </div>

</div>
