.header-table{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  .actions{
      display: grid;
      grid-template-columns: repeat(4,1fr) ;
      justify-content: space-around!important;
      justify-items: right;
      column-gap: 5px;
      button{
        height:38px ;
      }
  }
}
