<ng-container *ngIf="!typeTab; else isTab">
  <mat-card class="card mat-elevation-z16 animate__animated animate__slideInRight" >
    <mat-card-header>
        <mat-card-title>Solicitudes</mat-card-title>
        <mat-card-subtitle>Administrar Solicitudes de Estudio</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <ng-container *ngIf="!typeTab; then content"></ng-container>

    </mat-card-content>

    <span class="border"></span>
  </mat-card>
</ng-container>

<ng-template #isTab>
  <ng-container *ngIf="typeTab; then content"></ng-container>
</ng-template>




<ng-template #content>
  <div class="header-table">

    <mvd-input-search (changeSearch)="search($event)" [noteFilterBy]="'Filtra por nº documento, nombre, apellido, teléfono, email o código del paciente. - Estado. - Código de muestra. - Tipo de estudio - Fecha'" ></mvd-input-search>
    <div class="actions">

        <button mat-flat-button (click)="openDialog()" color="primary">
            <mat-icon class="material-icons-round">add</mat-icon><span>Crear</span>
        </button>
        <!-- <button mat-flat-button  color="" class="btn-simple">
            <mat-icon class="material-icons-round">print</mat-icon> Imprimir
        </button> -->
        <!-- <button mat-flat-button  color="" disabled class="btn-simple">
            <mat-icon class="material-icons-round">save_alt</mat-icon> Exportar
        </button> -->

    </div>
  </div>
    <mvd-data-table [columns]="columns" [dataSource]="dataSource | async" (actionChange)="itemAction($event)" ></mvd-data-table>
    <mat-paginator (page)="paginatorChange($event)" [length]="totalResut | async" [pageSize]="perPage" [pageSizeOptions]="[20,50,100]" showFirstLastButtons></mat-paginator>
</ng-template>
