
<form [formGroup]="form" *ngIf="form" fxFlex="100" fxLayoutGap="6px" fxLayout="row wrap" fxLayoutAlign="start center">

  <!-- gorop -->
  <div class="content-groups" fxFlex="100" fxLayout="column" fxLayoutGap="6px">

    <div class="content-group-form" fxFlex="100" fxLayout="row wrap" fxLayoutGap="6px">
      <h3 fxLayout="row" fxFlex="100">Cirugías Profilácticas</h3>

      <!-- ROW -->
      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="mas_uni" fxFlex="20" class="checkbox">Mastectomía Unilateral
        </mat-checkbox>

        <mat-form-field class="" *ngIf="form.get('mas_uni').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
          <mat-label>Fecha</mat-label>
          <input formControlName="mas_uni_date" matInput placeholder="Fecha" [matDatepicker]="picker"
            (dateChange)="formatDate($event, 'mas_uni_date')" autocomplete="off" (click)="picker.open()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('mas_uni').value" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
          <mat-label>Observaciones</mat-label>
          <input formControlName="mas_uni_obs" matInput type="text" placeholder="Observaciones" />
          <mat-error>
            <mvd-errors-messages [campo]="form.get('mas_uni_obs').errors" [name]="'Observaciones'"></mvd-errors-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <!--  -->


      <!-- ROW -->
      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="mas_bi" fxFlex="20" class="checkbox">Mastectomía Bilateral
        </mat-checkbox>

        <mat-form-field class="" *ngIf="form.get('mas_bi').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
          <mat-label>Fecha</mat-label>
          <input formControlName="mas_bi_date" matInput placeholder="Fecha" [matDatepicker]="picker"
            (dateChange)="formatDate($event, 'mas_bi_date')" autocomplete="off" (click)="picker.open()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('mas_bi').value" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
          <mat-label>Observaciones</mat-label>
          <input formControlName="mas_bi_obs" matInput type="text" placeholder="Observaciones" />
          <mat-error>
            <mvd-errors-messages [campo]="form.get('mas_bi_obs').errors" [name]="'Observaciones'"></mvd-errors-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <!--  -->


      <!-- ROW -->
      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="oof" fxFlex="20" class="checkbox">Ooforectomía
        </mat-checkbox>

        <mat-form-field class="" *ngIf="form.get('oof').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
          <mat-label>Fecha</mat-label>
          <input formControlName="oof_date" matInput placeholder="Fecha" [matDatepicker]="picker"
            (dateChange)="formatDate($event, 'oof_date')" autocomplete="off" (click)="picker.open()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('oof').value" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
          <mat-label>Observaciones</mat-label>
          <input formControlName="oof_obs" matInput type="text" placeholder="Observaciones" />
          <mat-error>
            <mvd-errors-messages [campo]="form.get('oof_obs').errors" [name]="'Observaciones'"></mvd-errors-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <!--  -->

      <!-- ROW -->
      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="hist" fxFlex="20" class="checkbox">Histerectomía
        </mat-checkbox>

        <mat-form-field class="" *ngIf="form.get('hist').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
          <mat-label>Fecha</mat-label>
          <input formControlName="hist_date" matInput placeholder="Fecha" [matDatepicker]="picker"
            (dateChange)="formatDate($event, 'hist_date')" autocomplete="off" (click)="picker.open()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('hist').value" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
          <mat-label>Observaciones</mat-label>
          <input formControlName="hist_obs" matInput type="text" placeholder="Observaciones" />
          <mat-error>
            <mvd-errors-messages [campo]="form.get('hist_obs').errors" [name]="'Observaciones'"></mvd-errors-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <!--  -->

      <!-- ROW -->
      <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
        fxLayoutAlign="start stretch">
        <mat-checkbox color="primary" formControlName="gast" fxFlex="20" class="checkbox">Gastrectomía
        </mat-checkbox>

        <mat-form-field class="" *ngIf="form.get('gast').value" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
          <mat-label>Fecha</mat-label>
          <input formControlName="gast_date" matInput placeholder="Fecha" [matDatepicker]="picker"
            (dateChange)="formatDate($event, 'gast_date')" autocomplete="off" (click)="picker.open()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="" *ngIf="form.get('gast').value" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
          <mat-label>Observaciones</mat-label>
          <input formControlName="gast_obs" matInput type="text" placeholder="Observaciones" />
          <mat-error>
            <mvd-errors-messages [campo]="form.get('gast_obs').errors" [name]="'Observaciones'"></mvd-errors-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <!--  -->

    </div>

  </div>
<!-- End Gorup -->

</form>
