.tabs-content{
    margin-top: 3rem;
}

.mat-card-actions{
    padding-right: 1.5rem;
}

.btn-submit{
    width: 100px;
    line-height: 2.2;
    margin: 1rem;
}
.mat-card-subtitle{
    padding-left: 1rem!important;
}
