<mat-card class="card mat-elevation-z2 animate__animated animate__slideInRight">
    <mat-card-header>
        <mat-card-title>Ficha Muestra</mat-card-title>
        <mat-card-subtitle *ngIf="sampleEdit as sample">
            <h3>Muestra: {{ sample.code }} / <a [routerLink]="['/pacientes/paciente', sample.patient.id ]" >Paciente: {{ sample.patient.code }} ({{ sample.patient.name }} {{ sample.patient.last_name }})</a> </h3>
            <p>Estado actual: <span class="negrita">{{ status_sample | async }}</span></p>
        </mat-card-subtitle>
        <div fxLayoutAlign="end center">
            <button class="btn-submit" mat-stroked-button color="primary" (click)="back()">Volver</button>
            <button *mvdPermissions="['sample.create','sample.update']" class="btn-submit" mat-flat-button color="primary" (click)="onSubmit()">Guardar</button>
        </div>
    </mat-card-header>

    <mat-card-content>
        <mvd-identification-sample *ngIf="patient_id || sampleEdit?.patient_id; else loading" [patient_id]="patient_id" (sampleIdentification)="identificationDataEvent($event)" ></mvd-identification-sample>

        <mat-tab-group *ngIf="patient_id  || sampleEdit?.patient_id " class="tabs-content">

            <mat-tab label="Datos Oncológicos">
                <mvd-sample-data (sampleData)="sampleDataEvent($event)" ></mvd-sample-data>
            </mat-tab>

            <mat-tab label="Datos Anatomopatológicos">
                <mvd-anatomopathological (anatomopatologicalData)="anatomopathologicalDataEvent($event)" ></mvd-anatomopathological>
            </mat-tab>

            <mat-tab label="Almacenamiento" [disabled]="!sampleEdit ? true : false">
              <ng-template matTabContent>
                <mvd-sample-storage *ngIf="sampleEdit" ></mvd-sample-storage>
              </ng-template>
            </mat-tab>

            <mat-tab label="Trazabilidad" [disabled]="!sampleEdit ? true : false">
              <ng-template matTabContent>
                <mvd-traces *ngIf="sampleEdit" [sample]="sampleEdit" ></mvd-traces>
              </ng-template>
            </mat-tab>

            <mat-tab label="Resultados" [disabled]="!sampleEdit ? true : false">
              <ng-template matTabContent>
                <mvd-results></mvd-results>
              </ng-template>
            </mat-tab>

        </mat-tab-group>


        <ng-template #loading>
            <div class="div-content">
                <div class="loading"><div></div><div></div><div></div></div>

            </div>
        </ng-template>

    </mat-card-content>

    <span class="border"></span>
</mat-card>
