<div fxFlex="100" fxFlex.lt-md="100">
  <form [formGroup]="form">
    <mat-form-field  class="" appearance="outline" fxFlex="100" fxFlex.lt-md="100">
      <mat-label>{{ namePlaceholder }}</mat-label>
      <input matInput [placeholder]="namePlaceholder" [value]="value" [matAutocomplete]="auto" formControlName="select" type="text">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="getTextItem.bind(this)" >
        <mat-option *ngFor="let option of (filteredItems$ | async)" [value]="option.value">
          {{ option.text }}
        </mat-option>
      </mat-autocomplete>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('select').errors" [name]="namePlaceholder"></mvd-errors-messages>
      </mat-error>
      <button [disabled]="disabled" *ngIf="addOptionEnabled || addOptionRoute" class="add-icon-input" type="button" matSuffix mat-icon-button aria-label="Add" (click)="addItemOption()">
        <mat-icon color="primary">add_circle</mat-icon>
      </button>
    </mat-form-field>

  </form>
</div>
