<div class="header-table">

  <div class="actions">

    <!-- <ng-container *mvdPermissions="['sample.create']">
         <button *ngIf="patient"  (click)="add()" mat-flat-button color="primary">
             <mat-icon class="material-icons-round">add</mat-icon><span>Crear</span>
         </button>
     </ng-container> -->

    <!-- <button mat-flat-button color="" class="btn-simple">
         <mat-icon class="material-icons-round">print</mat-icon> Imprimir
     </button> -->
    <!-- <button mat-flat-button color="" disabled class="btn-simple">
         <mat-icon class="material-icons-round">save_alt</mat-icon> Exportar
      </button> -->
  </div>
</div>

<mvd-data-table
  [columns]="columns"
  [dataSource]="dataSource | async"
  (actionChange)="itemAction($event)"
  [btnDelete]="false"
  [actions]="false"

  [widthActions]="'w-5-100'"
>
</mvd-data-table>
<mat-paginator
  (page)="paginatorChange($event)"
  [length]="totalResut | async"
  [pageSize]="perPage"
  [pageSizeOptions]="[20, 50, 100]"
  showFirstLastButtons
></mat-paginator>
