<div class="header-table">
    <mvd-input-search (changeSearch)="search($event)" [noteFilterBy]="'Filtra código, tipo, topografía, etc.'">
    </mvd-input-search>
    <div class="actions">

        <button (click)="openDialog()" mat-flat-button color="primary">
            <mat-icon class="material-icons-round">add</mat-icon><span>Crear</span>
        </button>
        <!-- <button mat-flat-button color="" class="btn-simple">
           <mat-icon class="material-icons-round">print</mat-icon> Imprimir
       </button> -->
        <!-- <button mat-flat-button color="" disabled class="btn-simple">
           <mat-icon class="material-icons-round">save_alt</mat-icon> Exportar
        </button> -->

    </div>

</div>

<mat-card-content>
    <mvd-data-table [columns]="columns" [dataSource]="dataSource | async" (actionChange)="itemAction($event)" ></mvd-data-table>
    <mat-paginator *ngIf="(result|async) && (totalResut|async) > perPage " (page)="paginatorChange($event)" [length]="totalResut | async" [pageSize]="perPage" [pageSizeOptions]="[20,50,100]" showFirstLastButtons></mat-paginator>
</mat-card-content>
