<div class="content-search" *ngIf="!view">

    <div>
        <mvd-input-autocomplete 
            [displayProperties] ="display"
            [valueSet]="resValue"
            [resSearch]="(resSearch |async)" 
            (changeSearch)="search($event)"
            (selectChange)="selectPatient($event)"
            class=" mvd-col1-2"
            [noteFilterBy]="'Filtra por Nombre, Código, Email, Nº Doc'" >
        </mvd-input-autocomplete>
    </div>




</div>