.content-search{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    // min-height: 180px;
    .search{
        width: 100%;
        max-width: 350px;
        transition: all 500ms;
    }

    button{
        height: 48px;
        width: 50px;
        border-radius: 10px!important;
    }
    .btn-search{
        width: 50px;
        transition: all 500ms;
    }
    
}