<mat-card *ngIf="data" class="card">
  <button class="btn-close-modal" mat-button (click)="onNoClick()" ><mat-icon>close</mat-icon></button>

    <h1>Atención!!</h1>
    <div>
        <p class="negrita">Afecta registros: {{data.name}}</p>
        <p class="message">{{ data.message }}</p>
    </div>
    <div class="btn-actions">

        <button mat-flat-button  class="btn-secondary" (click)="onNoClick()">Cancelar</button>
        <button mat-flat-button (click)="confirm()" color="primary" cdkFocusInitial>Aceptar</button>
    </div>

</mat-card>
