<mat-card *ngIf="form" class="card mat-elevation-z2 animate__animated animate__slideInRight">
    <mat-card-header>
        <mat-card-title>Ficha de Usuario</mat-card-title>
        <mat-card-subtitle *ngIf="userEdit as user">
            Usuario: {{ user.id }} /
            Nombre: {{ user.name }} {{ user.last_name }}
        </mat-card-subtitle>

        <div fxLayoutAlign="end center">
            <button class="btn-submit" mat-stroked-button color="primary"
                (click)="back()">Volver</button>
            <button [disabled]="!form.valid" class="btn-submit" mat-flat-button color="primary"
                (click)="onSubmit()">Guardar</button>
        </div>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="form" fxFlex="100" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline" fxFlex="calc(33.3% - 20px)" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" placeholder="Nombre">
                <mat-error>
                    <mvd-errors-messages [campo]="form.get('name').errors" [name]="'Nombre'">
                    </mvd-errors-messages>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="calc(33.3% - 20px)" appearance="outline">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="last_name" placeholder="Apellido">
                <mat-error>
                    <mvd-errors-messages [campo]="form.get('last_name').errors" [name]="'Apellido'">
                    </mvd-errors-messages>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="calc(33.3% - 20px)" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Email">
                <mat-error>
                    <mvd-errors-messages [campo]="form.get('email').errors" [name]="'Email'">
                    </mvd-errors-messages>
                </mat-error>
            </mat-form-field>


            <section *ngIf="roles" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" >
                
                <div fxFlex="100" class="content-group-checkbox" 
                    fxLayout="column wrap"
                     formArrayName="roles"
                    *ngFor="let rol of form.get('roles')['controls']; let i = index">
                    
                    <mat-checkbox [formControlName]="i" >{{ roles[i].name }}</mat-checkbox>
                    
                </div>
                
            </section>


        </form>


    </mat-card-content>

    <span class="border"></span>
</mat-card>