<form [formGroup]="form" fxLayout="row wrap" class="card pl-5" fxFlex="100" fxLayoutGap="1rem"
  fxLayoutAlign="start stretch">
  <!-- gorop -->
  <div class="content-groups" fxFlex="100" fxLayout="column" fxLayoutGap="6px">
    <div class="content-group-form" fxFlex="100" fxLayout="row wrap" fxLayoutGap="6px">
      <h3 fxFlex="100">Tumores</h3>

      <ng-container *ngIf="patient?.new_tumors">
        <p class="antecedents-list" fxLayoutGap="16px" fxFlex="90" *ngFor="let antecedent of patient.new_tumors">
          <span fxFlex="30" class="text-list">Topografía <span class="bold">{{ antecedent.topography.name }}</span></span>
          <span fxFlex="10">Año <span class="bold">{{ +(antecedent.date | date: "YYYY") + 1 }}</span></span>
          <span fxFlex="50" *ngIf="antecedent.obs">Observaciones: <span class="bold">{{ antecedent.obs }}</span></span>
          <span fxFlex="10" class="btn-list">
            <button mat-icon-button type="button" class="buttons-actions" (click)="removeAntecedent(antecedent.id)"
              matTooltip="Eliminar" matTooltipClass="tips">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </span>
        </p>
      </ng-container>
      <div fxFlex="90" fxLayoutGap="16px" fxFlex.lt-md="100">
        <mat-form-field class="" appearance="outline" fxFlex="30">
          <mat-label>Topografía</mat-label>
          <mat-select placeholder="Seleccione..." formControlName="topography_id">
            <mat-option *ngFor="let item of topographies | async" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="" appearance="outline" fxFlex="10" fxFlex.lt-md="100">
          <mat-label>Año</mat-label>
          <input [(ngModel)]="selectYear" formControlName="date" matInput placeholder="Fecha" [matDatepicker]="picker"
             autocomplete="off" (click)="picker.open()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event, picker)"></mat-datepicker>
        </mat-form-field>



        <mat-form-field class="" appearance="outline" fxFlex="50" fxFlex.lt-md="100">
          <mat-label>Observaciones</mat-label>
          <input formControlName="obs" matInput type="text" placeholder="Observaciones" />
        </mat-form-field>

        <span fxFlex="10">
          <button class="add-icon" type="button" mat-icon-button aria-label="Add" (click)="submitAntecedent()">
            <mat-icon color="primary">add_circle</mat-icon>
          </button>
        </span>

      </div>
    </div>
  </div>
</form>
