form{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
    align-items: flex-start;
    padding: 1rem!important;
    .btn-actions{

        // button{
        //     margin-left: auto;
        //     margin-right: auto;
        //     // padding: 10px 50px;
        // }
    }
    .content-color{
        display: grid;
        grid-template-columns: auto 50px;
        column-gap: 3px;
        cursor: pointer;
        input{
            cursor: pointer;
        }
        .mat-icon{
            width: 50px!important;
            height: 50px!important;
            font-size: 50px!important;
            // border-radius: 10px;
            margin-top: 4px;
            color: black;
        }
    }
    .content-select-ico{
        height: 50px;
        display: grid;
        align-content: center;
        .btn-select-ico{
            border-radius: 10px!important;
            margin-top: 5px!important;
            height: 50px!important;
            .mat-icon{
                font-size: 30px;
                width: 30px;
                height: 30px;
            }
        }
    }


    .content-image{
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1/3;
        grid-column: 1/2;
        align-items: center;
        gap: 1rem;

        border-radius: 10px;
        background-color: var(--background-gral);
        padding: 1rem;
        .upload{
            // max-width: 180px!important;


        }
    }
    .image-input img{
        object-position: center;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer!important;
        width: 100%;

    }
    .textarea{
        min-height: 100px;
    }

}



