<form [formGroup]="form" *ngIf="form" fxFlex="100" fxLayoutGap="6px" fxLayout="row wrap" fxLayoutAlign="start center">
  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
    fxLayoutAlign="start stretch">

    <mat-form-field *ngIf="tumorLineages | async as tumorLineages" class="" appearance="outline"
      fxFlex="calc(16% + 6px)" fxFlex.lt-md="100">
      <mat-label>Estirpe Tumoral</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="tumor_lineage_id">
        <mat-option *ngFor="let item of tumorLineages" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('tumor_lineage_id').errors" [name]="'Estirpe'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>


    <mvd-input-select-add-item fxLayout="row" fxLayoutAlign="start center" fxFlex="calc(16% + 6px)" fxFlex.lt-md="100"
     [value]="valueSelect"
     [options]="optionsTopographies"
     [namePlaceholder]="'Topografía'"
     [addOptionEnabled]="false"
     (changeValue)="changeTopography($event)">
    </mvd-input-select-add-item>


    <!-- <mat-form-field *ngIf="topographies | async as topographies" class="" appearance="outline" fxFlex="calc(16% + 6px)"
      fxFlex.lt-md="100">
      <mat-label>Topografía</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="topography_id">
        <mat-option *ngFor="let item of topographies" [value]="item.id">
          {{item.name}} - CIE 10 {{item.cie10}}
        </mat-option>
      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('topography_id').errors" [name]="'Topografía'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field> -->

  </div>


  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
    fxLayoutAlign="start stretch">

    <!-- TNM -->
    <ng-container *ngIf="dataSelects$ | async as dataSelects" >
      <div fxFlex="16" fxFlex.lt-md="100" fxLayoutGap="3px">
        <mat-form-field  class="" appearance="outline" fxFlex="33.3">
          <mat-label>T</mat-label>
          <mat-select placeholder="T..." formControlName="tnm_t">
            <mat-option *ngFor="let item of dataSelects.tnm_t" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field  class="" appearance="outline" fxFlex="33.3">
          <mat-label>N</mat-label>
          <mat-select placeholder="N..." formControlName="tnm_n">
            <mat-option *ngFor="let item of dataSelects.tnm_n" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field  class="" appearance="outline" fxFlex="33.3">
          <mat-label>M</mat-label>
          <mat-select placeholder="M..." formControlName="tnm_m">
            <mat-option *ngFor="let item of dataSelects.tnm_m" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

    </ng-container>

    <!--  -->

    <mat-form-field class="" appearance="outline" fxFlex="20" fxFlex.lt-md="100" fxFlexOffset.lt-md="0">
      <mat-label>Estadio</mat-label>
      <mat-select placeholder="Seleccione..." formControlName="estadio_id">
        <ng-container *ngIf="estadios | async as estadios">
          <mat-option *ngFor="let item of estadios" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('estadio_id').errors" [name]="'Estadio'">
        </mvd-errors-messages>
      </mat-error>
    </mat-form-field>
  </div>

  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
    fxLayoutAlign="start stretch">
    <mat-checkbox color="primary" formControlName="anatomia" fxFlex="20" class="checkbox">Informe de anatomía Patológica
    </mat-checkbox>

    <mat-form-field class="" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
      <mat-label>Fecha</mat-label>
      <input formControlName="anatomia_date" matInput placeholder="Fecha" [matDatepicker]="picker"
        (dateChange)="formatDate($event,'anatomia_date')" autocomplete="off" (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>

  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
    fxLayoutAlign="start stretch">
    <mat-checkbox color="primary" formControlName="biopsia" fxFlex="20" class="checkbox">Biopsia</mat-checkbox>
    <mat-checkbox color="primary" formControlName="reseccion_q" fxFlex="20" class="checkbox">A partir de resección Quirúrgica
    </mat-checkbox>

  </div>

  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
    fxLayoutAlign="start stretch">
    <mat-checkbox color="primary" formControlName="con_cancer" fxFlex="20" class="checkbox">Paciente con cancer
    </mat-checkbox>

  </div>

  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
    fxLayoutAlign="start stretch">
    <mat-form-field class="" appearance="outline" fxFlex="40" fxFlex.lt-md="100">
      <mat-label>Tipo Operación</mat-label>
      <input formControlName="operacion" matInput type="text" placeholder="Tipo Operación">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('operacion').errors" [name]="'Tipo operación'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="" appearance="outline" fxFlex="15" fxFlex.lt-md="100">
      <mat-label>Porcentaje necrosis tumoral</mat-label>
      <input formControlName="necrosis_tumoral_cant" matInput type="text" placeholder="Porcentaje necrosis tumoral">
      <span matPrefix><mat-icon class="">percent</mat-icon> </span>
      <mat-error>
        <mvd-errors-messages [campo]="form.get('necrosis_tumoral_cant').errors" [name]="'Porcentaje necrosis tumoral'">
        </mvd-errors-messages>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
      <mat-label>Linfocito Intra Tumoral</mat-label>
      <input formControlName="linfocito_intra_tumoral" matInput type="text" placeholder="Linfocito Intra Tumoral">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('linfocito_intra_tumoral').errors" [name]="'Linfocito Intra Tumoral'">
        </mvd-errors-messages>
      </mat-error>
    </mat-form-field>
  </div>


  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem" fxLayoutAlign="start center">
    <p>Tiempo isquemia fría</p>
    <mat-form-field class="" appearance="outline" fxFlex="10" fxFlex.lt-md="100">
      <mat-label>Minutos</mat-label>
      <input formControlName="isquemia_min" matInput type="text" placeholder="Minutos">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('isquemia_min').errors" [name]="'Minutos'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field>

    <!-- <mat-form-field class="" appearance="outline" fxFlex="10" fxFlex.lt-md="100">
      <mat-label>Segundos</mat-label>
      <input formControlName="isquemia_seg" matInput type="text" placeholder="Segundos">
      <mat-error>
        <mvd-errors-messages [campo]="form.get('isquemia_seg').errors" [name]="'Segundos'"></mvd-errors-messages>
      </mat-error>
    </mat-form-field> -->
  </div>


  <div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="2rem"
    fxLayoutAlign="start stretch">
    <mat-form-field class="" appearance="outline" fxFlex="80" fxFlex.lt-md="100" fxFlexOffset.lt-md="0">
      <mat-label>Observaciones</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
</form>
