<mat-card class="" fxFlex="100">
  <button class="btn-close-modal" mat-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-header>
    <h3>Miembro de la familia</h3>
  </mat-card-header>

  <form [formGroup]="form">
    <div fxFlex="100" fxLayout="row wrap" fxFlex.lt-md="100" fxLayoutAlign="space-between center" >

      <mat-form-field class="" *ngIf="!data?.patient_id" appearance="outline" fxFlex="50" fxFlex.lt-md="100">
        <mat-label>Paciente</mat-label>
        <input matInput aria-label="Paciente" placeholder="código, documento, nombre" [matAutocomplete]="auto"
          formControlName="patient_id" type="text">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getNamePatient.bind(this)">
          <mat-option *ngFor="let item of patients$ | async" [value]="item.id">
            ({{item.code}}) {{item.name}} {{ item.last_name }}
          </mat-option>
        </mat-autocomplete>
        <button class="add-icon-input" type="button" matSuffix mat-icon-button aria-label="Add" (click)="addPatient()">
          <mat-icon color="primary">add_circle</mat-icon>
        </button>
        <mat-error>
          <mvd-errors-messages [campo]="form.get('patient_id').errors" [name]="'Paciente'"></mvd-errors-messages>
        </mat-error>
      </mat-form-field>


      <mat-form-field fxFlex="40" fxFlex.lt-md="100" class="" appearance="outline">
        <mat-label>Seleccionar parentesco</mat-label>
        <mat-select placeholder="Seleccionar parentesco" formControlName="kinship_id">


          <mat-option *ngFor="let item of kinships$ | async" [value]="item.id">
            {{ item.name }}
          </mat-option>

        </mat-select>

        <mat-error>
          <mvd-errors-messages [campo]="form.get('kinship_id').errors" [name]="'Parentesco'"></mvd-errors-messages>
        </mat-error>

      </mat-form-field>

      <div fxFlex="100" fxLayout="row" fxFlex.lt-md="100" fxLayoutAlign="between" class="btn-actions mvd-col1--1">
        <span fxFlex="33.3"></span>
        <span fxFlex="33.3"></span>
        <!-- <button mat-flat-button class="btn-secondary">Guardar y Crear Nuevo</button> -->
        <button fxFlex="33.3" mat-flat-button class="" type="submit" [disabled]="!form.valid"
          (click)="submit()" color="primary">Guardar</button>

      </div>
    </div>

  </form>

</mat-card>
