<mat-form-field fxFlex="100" class="" appearance="outline" fxFlex.lt-md="100">
  <mat-label>Seleccionar Familia</mat-label>
  <input matInput aria-label="Paciente" placeholder="código..." [matAutocomplete]="auto"
    [formControl]="family_id" type="text">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="getNameFamily.bind(this)" (optionSelected)="selectFamily($event)">
    <mat-option *ngFor="let item of families$ | async" [value]="item.id">
      {{item.code}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
