<form [formGroup]="form">
    <mat-form-field  *ngIf="countries && barrio || departamento || ciudad || user" class="" appearance="outline">
        <mat-label>Países</mat-label>
        <mat-select placeholder="Seleccione País..." formControlName="country_id"
            (selectionChange)="onSelectCountry()">
            <mat-option *ngFor="let country of countries | async" 
                [value]="country.id">
                {{country.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field  *ngIf="states && barrio || ciudad || user" class="" appearance="outline">
        <mat-label>Departamento</mat-label>
        <mat-select placeholder="Seleccione Departamento..." formControlName="state_id"
            (selectionChange)="onSelectState()">
            <mat-option *ngFor="let state of states | async | filterState: form.get('country_id').value"
                [value]="state.id">
                {{state.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="cities && barrio || user" class="" appearance="outline">
        <mat-label>Ciudad</mat-label>
        <mat-select placeholder="Seleccione Ciudad..." formControlName="city_id"
            (selectionChange)="onSelectCity()">
            <mat-option *ngFor="let city of cities | async | filterCity: form.get('state_id').value"
                [value]="city.id">
                {{city.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field  *ngIf="user" class="" appearance="outline">
        <mat-label>Localidad/Barrio</mat-label>
        <mat-select placeholder="Selecciona Localidad/Barrio..." formControlName="neighborhood_id"
            (selectionChange)="onSelectNeighborhood()">
            <mat-option
                *ngFor="let neighborhood of neighborhoods | async | filterNeighborhoods: form.get('city_id').value"
                [value]="neighborhood.id">
                {{neighborhood.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field *ngIf="!user"  class="mvd-col1--1" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput placeholder="Nombre">
    </mat-form-field>
    <mat-form-field *ngIf="!user" class="mvd-col1--1" appearance="outline">
        <mat-label>Coordenadas</mat-label>
        <input formControlName="code" matInput placeholder="Coordenadas">
    </mat-form-field>
</form>
