<span class="searchContent" fxLayout="row wrap" fxFlex="100" floatLabel="never" appearance="none">
    <input class="input" type="text" [value]="value" [formControl]="searchInput"  placeholder="Buscar" >
    <span>{{ noteFilterBy }}</span>
</span>