
<table mat-table *ngIf=" (family$ | async)" [dataSource]="dataSource" class="">
  <!-- Position Column -->
  <ng-container matColumnDef="patient_code">
    <th mat-header-cell *matHeaderCellDef>Código</th>
    <td mat-cell *matCellDef="let element">{{element.patient_code}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="patient_name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{element.patient_name}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="kinship_name">
    <th mat-header-cell *matHeaderCellDef>Parentesco</th>
    <td mat-cell *matCellDef="let element">{{element.kinship_name}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="patient_age">
    <th mat-header-cell *matHeaderCellDef>Edad</th>
    <td mat-cell *matCellDef="let element">
      <span style="display: flex;">{{element.patient_age}}<mat-icon *ngIf="element.patient_dead" fontSet="material-icons-round"  color="warn" matTooltip="Fallecido">loyalty</mat-icon></span>

    </td>
  </ng-container>

  <ng-container matColumnDef="actions" >
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <button  mat-button
      class="buttons-actions"
      (click)="deleteItem(element,'Será eliminado')"
      matTooltip="Eliminar"
      matTooltipClass="tips">
          <mat-icon>delete_outline</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
