<div fxFlex="100" fxLayout="row wrap" class="content-column-checkbox" fxLayoutGap="1rem" fxLayoutAlign="start stretch">
  <button mat-flat-button color="primary" class="btn" (click)="openForm()">
    <mat-icon class="mat-18">add</mat-icon>
  </button>
</div>
