<form [formGroup]="form" fxLayout="row wrap" class="card pl-5" fxFlex="100" fxLayoutGap="1rem"
  fxLayoutAlign="start stretch">
  <!-- gorop -->
  <div class="content-groups" fxFlex="100" fxLayout="column" fxLayoutGap="6px">
    <div class="content-group-form" fxFlex="100" fxLayout="row wrap" fxLayoutGap="6px">
      <h3 fxFlex="100">Base de Datos Internacionales</h3>

      <ng-container *ngIf="patient?.international_bds?.length">

        <p class="antecedents-list" fxFlex="100" *ngFor="let trace of patient.international_bds">
          <span class="text-list">Base de datos {{ trace.name }}, Ingresado
            {{ trace.pivot?.date | date: "dd/MM/YYYY" }} .</span>
            <span *ngIf="trace.pivot?.obs">Observaciones: {{ trace.pivot?.obs }}
          </span>
          <span class="btn-list">
            <button mat-icon-button type="button" class="buttons-actions" (click)="removeTrace(trace.pivot?.id)"
            matTooltip="Eliminar" matTooltipClass="tips">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </span>
        </p>

    </ng-container>

      <mvd-input-select-add-item [value]="valueSelect" [options]=" options" [namePlaceholder]="'BD Internacionales'" (addOption)="addBd($event)" (changeValue)="changeBd($event)"></mvd-input-select-add-item>

      <mat-form-field class="" appearance="outline" fxFlex="20" fxFlex.lt-md="100">
        <mat-label>Fecha</mat-label>
        <input formControlName="date" matInput placeholder="Fecha" [matDatepicker]="picker"
          (dateChange)="formatDate($event, 'date')" autocomplete="off" (click)="picker.open()" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="" appearance="outline" fxFlex="30" fxFlex.lt-md="100">
        <mat-label>Observaciones</mat-label>
        <input formControlName="obs" matInput type="text" placeholder="Observaciones" />
      </mat-form-field>

      <span fxFlex="10">
        <button class="add-icon" type="button" mat-icon-button aria-label="Add" (click)="submitTrace()">
          <mat-icon color="primary">add_circle</mat-icon>
        </button>
      </span>
    </div>
  </div>
</form>
