<mat-card class="" >
  <button class="btn-close-modal" mat-button (click)="onNoClick()" ><mat-icon>close</mat-icon></button>

  <ngx-doc-viewer class="full" *ngIf="data"
    [viewerUrl]="'https://docs.google.com/gview?url=%URL%&embedded=true'"
    [url]="data"
    viewer="url"
    style="width:100%;height:90vh;"
    loaded
  ></ngx-doc-viewer>
</mat-card>

