<!-- <mvd-search-patient></mvd-search-patient> -->

<form [formGroup]="form" *ngIf="form" fxFlex="100" fxLayoutGap="6px" fxLayout="row wrap" fxLayoutAlign="start center">

    <mat-form-field class="" appearance="outline" fxFlex="16" fxFlex.lt-md="100" fxFlexOffset.lt-md="0">
        <mat-label>Tipo Muestra</mat-label>
        <mat-select placeholder="Seleccione..." formControlName="type_sample_id" >
            <ng-container *ngIf="typesSamples | async as typesSamples">
                <mat-option *ngFor="let item of typesSamples" [value]="item.id">
                    {{ item.name }}
                </mat-option>

            </ng-container>


        </mat-select>
        <mat-error>
            <mvd-errors-messages [campo]="form.get('type_sample_id').errors" [name]="'Tipo de Muestra'">
            </mvd-errors-messages>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="" appearance="outline" fxFlex="16" fxFlex.lt-md="100">
        <mat-label>Código</mat-label>
        <input formControlName="code" matInput type="text" placeholder="Código Muestra">
        <mat-error>
            <mvd-errors-messages [campo]="form.get('code').errors" [name]="'Código'"></mvd-errors-messages>
        </mat-error>
    </mat-form-field>

</form>
