<mat-card *ngIf="data" class="card">
  <button class="btn-close-modal" mat-button (click)="onNoClick()" ><mat-icon>close</mat-icon></button>

    <h1>Atención!!</h1>
    <div>
        <p>No a guardado los cambios, si continua se perderan.</p>
        <!-- <p class="message">{{ data.message }}</p> -->
    </div>
    <mat-card-actions align="end">
        <button mat-flat-button  class="btn-secondary" (click)="onNoClick()">Cancelar</button>
        <button mat-flat-button (click)="confirm()" color="primary" cdkFocusInitial>Continuar</button>

    </mat-card-actions>

</mat-card>
