@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
@import "./app/shared/utils/loaders/loading.scss";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$admin-primary: mat-palette($mat-blue, A700);
$admin-accent: mat-palette($mat-green, 800);

// The warn palette is optional (defaults to red).
$admin-warn: mat-palette($mat-red, A700);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$admin-theme: mat-light-theme(
  (
    color: (
      primary: $admin-primary,
      accent: $admin-accent,
      warn: $admin-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($admin-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

////TOOLBAR////
.toolbar-principal {
  @include mat-elevation(16);
}
//////////////

//VARIABLES

:root {
  --color-primary: rgb(41, 98, 255);
  --color-primary-light: rgba(41, 98, 255, 0.521);
  --color-secondary: rgb(12, 211, 161);
  --color-success: rgb(69, 187, 75);
  --color-warn: #D50000;
  --color-dark: rgb(33, 33, 33);
  --color-grey: rgb(221, 221, 221);
  --color-accent: #2e7d32;
  --background-gral: #f7f7f7;
}

////reset
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 400;
  &:hover {
    text-decoration: underline;
    color: var(--color-secondary);
  }
}
.negrita {
  font-weight: 500;
  color: black;
}
.search {
  z-index: 1000 !important;
}
.mat-drawer-side {
  border-right: none;
}
.mat-toolbar,
.mat-sidenav-content,
.mat-sidenav {
  background-color: var(--background-gral) !important;
}
///width input
.mat-form-field-infix {
  width: 100% !important;
}

///////////////


// charts

ngx-charts-advanced-pie-chart{

  &:first-child{
    width: 100%!important;
    display: grid!important;
    grid-template-columns: 1fr 3fr;
    align-items: center!important;
    align-content: center!important;
    .advanced-pie-legend-wrapper{
      display: grid;
      align-items: center;
    }
  }
}
.advanced-pie{

}

.advanced-pie-legend{
  float: unset!important;
  position: unset!important;
  top: unset!important;
  transform: unset!important;
  display: grid!important;
  gap: 5px;
  grid-template-columns: min-content max-content!important;
  align-items: center;
  .total-value{
    font-size: 20px!important;
    font-weight: 600;
    grid-column: 1/2;

  }
  .total-label{
    font-size: 20px!important;
    margin: 0!important;
    grid-column: 2/3;

  }
  .legend-items-container{
    display: grid!important;
    grid-column: 1/-1;
    width: 100%!important;
    .legend-items{
      overflow: hidden!important;
      display: inline-flex;
      align-items: center;
      align-content: center;
      .legend-item{
        padding: 5px!important;
        display: grid!important;
        grid-template-columns: 3px max-content;
        grid-template-rows: repeat(3,16px);
        align-items: center;
        margin-right: 0!important;
        .item-color{
          grid-row: 1/-1;
          grid-column: 1/2;
          margin-right: 0!important;
          border-radius: 10px;
        }
        .item-value{
          font-size: 14px!important;
          grid-column: 2/3;
          font-weight: 600;
        }
        .item-label{
          grid-column: 2/3;
          font-size: 12px!important;

        }
        .item-percent{
          font-size: 12px!important;
        }
      }
    }
  }

}




////customize formFields
.mat-form-field-outline-start,
.mat-form-field-outline-gap,
.mat-form-field-outline-end {
  background-color: var(--background-gral) !important;
  // border-color: rgb(212, 188, 188)!important;
}
///altura formField
.mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}
.mat-form-field-label-wrapper {
  top: -1.4em;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}
////////
//float level
.mat-form-field-should-float .mat-form-field-label {
  background-color: var(--background-gral);
  width: auto !important;
  border-radius: 50px;
  padding: 4px 10px;
  margin-left: -5px;
  margin-top: -6px;
}

///////FORMS
.content-group-form {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid var(--color-grey);
  padding: 1rem;
}

.add-icon-input{
  margin-right: -12px!important;
  padding-bottom: 5px!important;
  .mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
    top: -3px!important;
    left: -1px!important;
    right: 0!important;
    bottom: 3px!important;

  }
}
////////////

// Theme styles that only apply to the outline appearance of the form-field.

.mat-form-field-appearance-outline {
  .mat-form-field-outline {
    color: var(--color-grey) !important; //color de borde
  }

  .mat-form-field-outline-thick {
    transition: 1s;
    border-radius: 5px;
  }
  .mat-form-field-outline-thick {
    color: var(--color-grey) !important;
  }

  &.mat-focused {
    .mat-form-field-outline-thick {
      color: var(--color-primary-light) !important;
    }

    &.mat-accent .mat-form-field-outline-thick {
      color: var(--color-secondary) !important;
    }

    &.mat-warn .mat-form-field-outline-thick {
      color: var(--color-warn) !important;
    }
  }

  // Class repeated so that rule is specific enough to override focused accent color case.
  &.mat-form-field-invalid.mat-form-field-invalid {
    .mat-form-field-outline-thick {
      color: var(--color-warn) !important;
    }
  }
}

.field-doble {
  display: grid;
  width: 100% !important;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
}
.searchContent {
  // margin: 1rem 0;
  .input {
    box-sizing: border-box;
    background-color: var(--background-gral);
    border: none;
    line-height: 3;
    padding: 0 16px;
    // border-radius: 50px;
    outline: none;
    width: 100%;
  }
  span {
    font-size: 11px;
    color: #a5a5a5;
    margin-left: 1rem;
    display: block;
  }
}

/////////

////////DIALOG

.mat-dialog-container {
  padding: 0 !important;
  // border-radius: 20px!important;
  box-shadow: 0px 0px 73px 24px rgba(1, 22, 63, 0.42) !important;
  overflow: hidden !important;
}
.btn-close-modal {
  position: absolute !important;
  top: 0px !important;
  right: 0px !important;
  background-color: var(--color-primary);
  color: white;
  border-radius: 0 0 0 5px!important;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
  &:hover {
    background-color: var(--background-gral)!important;
    color: var(--color-primary);
  }
  .material-icons {
    font-size: 18px !important;
  }
  .mat-icon {
    height: inherit !important;
    width: inherit !important;
  }
}
.cdk-overlay-dark-backdrop {
  background: none !important;
}
.cdk-global-scrollblock {
  overflow: hidden !important;
}

.btn-actions {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  justify-items: end;
  column-gap: 1rem;

  button {
    width: 100% !important;
  }
  // margin-left: 10px!important;
  // margin-right: 10px!important;
}
//////////////

//////////////BUTTONS
.mat-button,
.mat-flat-button,
.mat-stroked-button {
  // border-radius: 5px!important;
}
.mat-stroked-button {
  // border-color: inherit!important;
}
.btn-add {
  color: var(--color-dark);
}

.btn-secondary {
  background-color: var(--color-grey);
}

.btn-success {
  color: var(--color-success);
}

.mat-flat-button{
  font-weight: 400!important;
}
/////////////////////

//////SNACK-BAR//
.success-snack-bar {
  background-color: var(--color-success) !important;
  color: white !important;
  .mat-simple-snackbar-action{
    color: white!important;
  }
}
.error-snack-bar {
  background-color: var(--color-warn) !important;
  color: white !important;
  .mat-simple-snackbar-action{
    color: white!important;
    .mat-button{
      line-height: 24px!important;
    }
  }
}
////////////////

/////////////CARDS
.mat-card {
  padding-left: calc(16px + 10px) !important;
  // border-radius: 16px!important;
  transition: 3s;
  margin: 2rem auto !important;
  box-sizing: border-box !important;
  @include mat-elevation(2);
  .mat-card-header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    align-content: center;
    align-items: center;
    button {
      font-size: 12px;
      font-weight: 400;
    }
    .mat-card-title {
    }
    .mat-card-subtitle {
    }
    .actions {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-around !important;
      justify-items: right;
      align-content: center;
      align-items: center;
      column-gap: 5px;
      .btn-simple {
        background-color: var(--background-gral);
      }
    }
  }

  table {
    width: 100%;

    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      padding: 0px 1rem !important;
      font-size: 12px;
      padding-left: 1rem !important;
    }
    .th.mat-header-cell {
      text-align: center !important;
    }
  }
}
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  max-width: 180px !important;
  text-align: right;
  width: 16% !important;
}
th.mat-header-cell:last-of-type {
  text-align: center;
}

.font-color-red {
  color: var(--color-warn);
}
.font-color-primary {
  color: var(--color-primary);
}

.border {
  position: absolute;
  width: 10px;
  height: calc(100% - 16px - 16px);
  top: 16px;
  left: 0px;
  display: block;
  background-color: mat-color($admin-primary);
  border-radius: 0 10px 10px 0;
}
.border-r {
  position: absolute;
  width: 10px;
  height: calc(100% - 16px - 16px);
  top: 16px;
  right: 0px;
  display: block;
  background-color: mat-color($admin-primary);
  border-radius: 10px 0px 0px 10px;
}
///////////////////

//////////TABS////
.mat-tab-group {
  width: 100%;
}
.mat-tab-body {
  padding-top: 1rem !important;
  min-height: calc(100vh - 270px);
}
.mat-tab-body-content {
  padding: 1rem !important;
  box-sizing: border-box !important;
}
//////////////////

/////CHECKBOXES
.checkboxes {
  display: grid;
  margin: 1rem;
  grid-template-columns: 1fr 1fr 1fr;

  .mat-checkbox {
    display: inline;
  }
}
//////////////////

///////// DATA PIKER //////////
.color-picker {
  border: none !important;
  border-radius: 10px;
  @include mat-elevation(16);
}
.color-picker .saturation-lightness {
  border-radius: 10px 10px 0 0;
}

//////////////////////////////

////COLUMNAS
.mvd-col1--1 {
  width: 100%;
  grid-column: 1 / -1;
}
.mvd-col2--1 {
  grid-column: 2 / -1;
}
.mvd-col3--1 {
  grid-column: 3 / -1;
}
.mvd-col4--1 {
  grid-column: 4 / -1;
}
.mvd-col5--1 {
  grid-column: 5 / -1;
}
.mvd-col6--1 {
  grid-column: 6 / -1;
}
.mvd-col1-2 {
  grid-column: 1 / 2;
}
.mvd-col1-3 {
  grid-column: 1 / 3;
}
.mvd-col1-4 {
  grid-column: 1 / 4;
}
.mvd-col1-5 {
  grid-column: 1 / 5;
}
.mvd-col3-5 {
  grid-column: 3 / 5;
}
.mvd-col4-5 {
  grid-column: 4 / 5;
}
.mvd-col4-6 {
  grid-column: 4 / 6;
}
///////////

.w-5-100 {
  width: 5% !important;
}
.w-10-100 {
  width: 10% !important;
}
.w-15-100 {
  width: 15% !important;
}
.w-20-100 {
  width: 20% !important;
}
.w-25-100 {
  width: 25% !important;
}
.w-30-100 {
  width: 30% !important;
}
.w-35-100 {
  width: 35% !important;
}
.w-40-100 {
  width: 40% !important;
}
.w-45-100 {
  width: 45% !important;
}
.w-50-100 {
  width: 50% !important;
}
.w-55-100 {
  width: 55% !important;
}
.w-60-100 {
  width: 60% !important;
}
.w-65-100 {
  width: 65% !important;
}
.w-70-100 {
  width: 70% !important;
}
.w-75-100 {
  width: 75% !important;
}
.w-80-100 {
  width: 80% !important;
}
.w-85-100 {
  width: 85% !important;
}
.w-90-100 {
  width: 90% !important;
}
.w-95-100 {
  width: 95% !important;
}
.w-100 {
  width: 100% !important;
}

/////ANIMATIONS

:root {
  .animate__animated.animate__slideInRight {
    --animate-duration: 300ms;
  }
}

//////////////

///Select
.mat-option-text{

}
.mat-option{
  height: 32px!important;
  font-size: 12px!important
}

///////Avatar
.select-avatar {
  .mat-form-field-infix {
    display: grid !important;
    grid-template-columns: 50px auto !important;
    align-items: center;
    padding: 0.2rem !important;
  }
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
  }
}
.option-select-avatar {
  height: 70px !important;
  line-height: 70px !important;

  align-items: center !important;
  align-content: center !important ;
  img {
    width: 47px !important;
    height: 47px !important;
    border-radius: 50px !important;
    object-fit: cover !important;
    margin-bottom: -20px;
    padding: 3px;
  }
}
/////////////

///////
$font-item-menu: 10pt;
.items-menu-principal {
  margin-right: 5px;
  a {
    height: 38px !important;
    margin-bottom: 5px;
    font-size: $font-item-menu !important;
    border-radius: 0 5px 5px 0 !important;
    &:hover {
      background-color: var(--color-primary-light) !important;
      color: white !important;
      .mat-ripple,
      .mat-list-item-ripple {
        border-radius: 0 5px 5px 0 !important;
      }
    }
    &:active {
      background-color: var(--color-primary) !important;
      color: white !important;
    }
  }
  .router-link-active {
    border-radius: 0 5px 5px 0;
    background-color: var(--color-primary) !important;
    @include mat-elevation(3);
    color: white;
  }

  .mat-expansion-panel {
    box-shadow: none !important;
    padding-bottom: 1rem !important;
    padding-right: 1rem !important;
    background-color: transparent !important;
    width: 100% !important;

    .mat-expansion-panel-header {
      font-size: $font-item-menu !important;
      padding: 0 1rem !important;
      border-radius: 0 5px 5px 0 !important;
      height: 38px !important;
    }
    .mat-expansion-panel-content {
      background: rgb(255, 255, 255) !important;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 50%,
        var(--background-gral) 100%
      ) !important;
      border-radius: 0 0 5px 0;

      .mat-expansion-panel-body {
        padding: 0 !important;
        a {
          box-sizing: border-box !important;
          padding-left: 1rem !important;
        }
      }
    }
  }
}

////checkbox Material style
.material-checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.87);
  font-family: var(
    --material-font,
    "Roboto",
    "Segoe UI",
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  font-size: 16px;
  line-height: 1.5;
}

/* Input */
.material-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.material-checkbox > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Box */
.material-checkbox > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px; /* Safari */
  border-color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.6);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.material-checkbox > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.material-checkbox > input:checked,
.material-checkbox > input:indeterminate {
  background-color: rgb(var(--material-primary-rgb, 33, 150, 243));
}

.material-checkbox > input:checked + span::before,
.material-checkbox > input:indeterminate + span::before {
  border-color: rgb(var(--material-primary-rgb, 33, 150, 243));
  background-color: rgb(var(--material-primary-rgb, 33, 150, 243));
}

.material-checkbox > input:checked + span::after,
.material-checkbox > input:indeterminate + span::after {
  border-color: rgb(var(--material-onprimary-rgb, 255, 255, 255));
}

.material-checkbox > input:indeterminate + span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.material-checkbox:hover > input {
  opacity: 0.04;
}

.material-checkbox > input:focus {
  opacity: 0.12;
}

.material-checkbox:hover > input:focus {
  opacity: 0.16;
}

/* Active */
.material-checkbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.material-checkbox > input:active + span::before {
  border-color: rgb(var(--material-primary-rgb, 33, 150, 243));
}

.material-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.material-checkbox > input:disabled {
  opacity: 0;
}

.material-checkbox > input:disabled + span {
  color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.38);
  cursor: initial;
}

.material-checkbox > input:disabled + span::before {
  border-color: currentColor;
}

.material-checkbox > input:checked:disabled + span::before,
.material-checkbox > input:indeterminate:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
}

@media (max-width: 500px) {
  body [class^="mvd-col"] {
    grid-column: 1 / -1 !important;
  }
}

@media (max-width: 800px) {
  body [class^="mvd-col"] {
    grid-column: 1 / -1 !important;
  }
}

@media (max-width: 1024px) {
  body [class*="mvd-col"] {
    grid-column: 1 / -1 !important;
  }
}



mvd-result{
  height: 100%;
}
