<div class="grid">
</div>

<div class="grid-chart">
  <mvd-card-chart *ngIf="dataPatients" [title]="'Pacientes'" [data]="dataPatients"></mvd-card-chart>
  <mvd-card-chart *ngIf="dataFamily()" [title]="'Familias'" [data]="dataFamily()"></mvd-card-chart>
  <mvd-card-chart *ngIf="dataSamples()" [title]="'Muestras'" [data]="dataSamples()"></mvd-card-chart>
  <mvd-card-chart *ngIf="dataSamples_status()" [title]="'Estado de Muestras'" [data]="dataSamples_status()"></mvd-card-chart>
</div>
