.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%,250px),1fr));
  grid-template-rows: repeat(auto-fill ,max-content);
  gap: 1rem;
}

.grid-chart{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%,32%),1fr));
  grid-template-rows: repeat(auto-fill ,max-content);
  gap: 1rem;
}
