.list{
  background-color:var(--background-gral);
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10pt;
  align-items: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 2fr 1fr max-content;

  .text-list-antecedente{
    width: 250px;
  }
  .btn-list{
    .buttons-actions{
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    text-align: right;
  }
}
h3{
  font-weight: 500;
}


.content-column-checkbox{
  .checkbox{
      padding: 10px;
      padding-bottom: 27px;
  }
}
.content-groups{
  width: 100%;
}

.chip-antecedentes{
  min-height: 20px!important;
  font-weight: 400;
  font-size: 12px;
}
