<form
  [formGroup]="form"
  fxLayout="row wrap"
  class="card pl-5"
  fxFlex="100"
  fxLayoutGap="1rem"
  fxLayoutAlign="start stretch"
>
  <!-- gorop -->
  <div class="content-groups" fxFlex="100" fxLayout="column" fxLayoutGap="6px">
    <div
      class="content-group-form"
      fxFlex="100"
      fxLayout="row wrap"
      fxLayoutGap="6px"
    >
      <h3 fxFlex="100">Especificaciones</h3>


      <mvd-input-select-add-item
        [value]="valueGenSelect"
        [options]="optionsGens"
        [namePlaceholder]="'Gen'"
        (addOption)="addGen($event)"
        (changeValue)="changeGen($event)"
      ></mvd-input-select-add-item>

      <mat-form-field
        class=""
        appearance="outline"
        fxFlex="30"
        fxFlex.lt-md="100"
      >
        <mat-label>Localización</mat-label>
        <input
          formControlName="localization"
          matInput
          type="text"
          placeholder="Localización"
        />
      </mat-form-field>

      <mvd-input-select-add-item
        [value]="valueClasificationSelect"
        [options]="optionsClasifications"
        [namePlaceholder]="'Calsificación'"
        (addOption)="addClasification($event)"
        (changeValue)="changeClasification($event)"
      ></mvd-input-select-add-item>

      <span fxFlex="10">
        <button
          class="add-icon"
          type="button"
          mat-icon-button
          aria-label="Add"
          (click)="submit()"
        >
          <mat-icon color="primary">add_circle</mat-icon>
        </button>
      </span>

      <ng-container>
        <p
          class="list"
          fxFlex="100"
          *ngFor="let gen_result of gens_results$ | async; let i = index"
        >
          <span class="text-list">Gen: {{ gen_result?.gen?.name }}</span>

          <span>Localización: {{ gen_result?.localization }}</span
          >
          <span>Calsificación: {{ gen_result?.clasification?.name }}</span
          >

          <span class="btn-list">
            <button
              mat-icon-button
              type="button"
              class="buttons-actions"
              (click)="remove(i)"
              matTooltip="Eliminar"
              matTooltipClass="tips"
            >
              <mat-icon>delete_outline</mat-icon>
            </button>
          </span>
        </p>
      </ng-container>


    </div>
  </div>
</form>
