
        <mat-card class="" >
            <button class="btn-close-modal" mat-button (click)="onNoClick()" ><mat-icon>close</mat-icon></button>
            <mat-card-header>
                <mat-card-title>Nuevo Registro</mat-card-title>
            </mat-card-header>

            <mvd-form-locations *ngIf="data" [data]="data" (changeForm)="setForm($event)"></mvd-form-locations>
            <!-- <span class="border"></span> -->
            <div class="btn-actions">
                <span></span>
                <span></span>
                <!-- <button mat-flat-button class="btn-secondary">Guardar y Crear Nuevo</button> -->
                <button mat-flat-button class="" (click)="save()" color="primary" >Guardar</button>

            </div>
        </mat-card>



