<mat-card class="card mat-elevation-z16 animate__animated animate__slideInRight" >

    <mat-card-header>
        <mat-card-title>Permissions</mat-card-title>
        <mat-card-subtitle>Administrar Permissions</mat-card-subtitle>

    </mat-card-header>
    <mvd-permissions-table></mvd-permissions-table>
    <span class="border"></span>

</mat-card>