<mat-card class="animate__animated animate__fadeIn">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <ngx-charts-advanced-pie-chart
      [animations]="animations"
      [scheme]="colorScheme"
      [results]="data"
      [gradient]="gradient"
      (select)="onSelect($event)"

      >
    </ngx-charts-advanced-pie-chart>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>Ok</button>
  </mat-card-actions> -->
  <span class="border">
  </span>
</mat-card>
