<mat-card class="" >
    <button class="btn-close-modal" mat-button (click)="onNoClick()" ><mat-icon>close</mat-icon></button>
    <mat-card-header>
        <mat-card-title *ngIf="data.title">{{ data.title }}</mat-card-title>
        <!-- <mat-card-title *ngIf="!data[0].titleForm">Registro</mat-card-title> -->
    </mat-card-header>

    <mvd-dinamic-form *ngIf="data.data" [fields]="data.data" (value)="action($event)" ></mvd-dinamic-form>

    <!-- <span class="border"></span> -->

</mat-card>


