<mat-card class="mat-card animate__animated animate__slideInRight">
  <mat-card-header class="mat-card-header">
    <div class="mat-card-header-text">
      <mat-card-title class="mat-card-title"> {{ title }} </mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle"></mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content class="mat-card-content">
    <div class="value"> {{ value }} </div>
  </mat-card-content>
  <span class="border">
  </span>
</mat-card>
