.mat-card{
  width: 100%;
  justify-items: center;

  .mat-card-header{
    display: flex;

    .mat-card-header-text{
      display: flex;
      justify-items: center;
      .mat-card-title{
        width: 100%;
      }
    }
  }
  .mat-card-content{
    display: flex;
    justify-items: center;
    justify-content: center;
    .value{
      font-weight: 700;
      font-size: 26px;
    }
  }
}
